.descriptionDiv{
    display: flex;
    flex-direction: column;
    margin: var(--size-7) 0;
    margin-bottom: 0;
}

.descriptionTitle{
    align-self: center;
}

@media (max-width: 1080px){
    .descriptionDiv{
       
        margin: var(--size-7) var(--size-3);
    }
}

