
.reviewDiv{
    width: 100%;
     max-height: max-content;
     box-sizing: border-box;
     padding: 0 var(--size-3);
     margin-bottom: var(--size-6);
  }
  
    /* .reviewDivImage{
      width: 100%; 
      height: auto;
      margin-bottom: 5px;
    } */
  
    .starDiv{
      margin-bottom: 0;
    }
  
    .reviewText{
      margin-top: var(--size-1);
      margin-bottom: var(--size-4);
      font-family: var(--hand-writing-font);
      opacity: 0.9;
      font-size: var(--font-size-3);
      line-height: 20px;
    }
  
    .reviewAuthor{
      margin-top: var(--size-2);
      font-weight: 400;
      
    }