.writeReviewDiv{
    width: calc(100% -  var(--size-7));
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--size-7) 0;
  
  }
  


  .reviewsNumberSpan{
    margin-left: 8px;
    font-size: var(--font-size-3);

  }
  
  .writeReviewButton{
    color: white;
    height: var(--size-8);
    width: var(--size-11);
    background-color: transparent;
    border: 1px solid gray;
    cursor: pointer;
    
   
    border-radius: 4px;
  }
  
  
  
  .submittedReview{
    color: #43a047;
    margin: var(--size-7) 0;
  }
  


  .writeReviewPopupDiv{
    position: fixed;
    left: 0;
    top: 0;
  
    height: 100%;
    width: 100%;
   
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 5;
  }

  .reviewBackgroundDiv{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;


  }

  .mainReviewDiv{
    position: relative;
    max-width: var(--size-16);
    max-height: var(--size-16);
    height: calc(100% - var(--size-7));
    width: calc(100% - var(--size-7));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b191a;
    transform: scale(0);
    animation: scaleAnim 0.5s ease-out 0.2s 1 normal forwards;
    z-index: 2;
    overflow: hidden;
  }
 
  .reviewPageDiv{
  
    width: calc(100% - var(--size-5));
    max-width: var(--size-14-5);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
  }

  .reviewPageDiv h1{
    margin-top: 0;
  }

  .swipeInLeftAnimation{
    animation: swipeInLeftPage 0.2s ease forwards;
  }

  .swipeOutLeftAnimation{
    animation: swipeOutLeftPage 0.5s ease forwards;
  }

  .swipeInRightAnimation{
    animation: swipeInRightPage 0.2s ease forwards;
  }

 

  .swipeOutRightAnimation{
    animation: swipeOutRightPage 0.5s ease forwards;
  }

  .swipeOutRightFooterAnimation{
    animation: swipeOutRightFooter 0.5s ease-in-out forwards;
  }

  .swipeOutLeftFooterAnimation{
    animation: swipeOutLeftFooter 0.5s ease-in-out forwards;
  }


  .closeButton{
   
    position: absolute;
    left: 16px;
    top:16px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    font-size: var(--font-size-5);
  }

  .closeButton:hover{
    cursor: pointer;
  }

  .writeReviewFooter{
 
    height: 32px;
    width: 100%;
    margin: 16px 0;
    box-sizing: border-box;
    padding: 0 var(--size-5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .writeReviewFooterSpawn{
    animation: spawnFooter 0.15s ease;
  }

  .writeReviewFooterMobile{
    display: none;
  }

  .continueFooter{
    justify-content: flex-end;
  }





  .rateQuestion{
    margin-bottom: var(--size-7);
    font-size: var(--font-size-5);
  }
  
  .progressDiv{
    display: flex;
   
  }

  .progressBar{
   height: var(--size-3);
   width: var(--size-9);
   background-color: rgb(55, 55, 62);
   border-radius: 4px; 
   margin: 0 var(--size-2);
   overflow: hidden;
  }
  
  .progressBarFilled{
    height: 100%;
    background-color: gray;
  }

  .fillProgressBar{
    height: 100%;
    background-color: gray;
    animation: fillBar 0.25s ease-out forwards;
  }

  .fillOutProgressBar{
    animation: fillOutBar 0.25s ease-out forwards;
  }



  .mediaTitle h1{
    margin-bottom: var(--size-2);
  }


  .centerButtons{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(--size-4);
    margin: var(--size-9);
    border-radius: 4px;
    border: 1px solid gray;
  }

  .mediaButton{
    position: relative;
    color: var(--gray-9-elegant);
    background-color: rgb(149, 165, 170);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    margin: var(--size-2) 0;
    font-size: var(--font-size-3);
    font-weight: 700;
  }

  .mediaButton:hover{
    cursor: pointer;
    background-color: rgb(112, 128, 118)
  }

  .mediaButtonImgInput{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .mediaButtonImgInput:hover{
    cursor: pointer;
  }

  .arrowBackDiv{
  
   
    height: auto;
  }

  .arrowBack{
    transform: rotate(180deg);
    height: 24px;
    margin-top: 2px;
    margin-right: 2px;
  }

  .remindMeLater{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:transparent;
    
    border: none;
    min-width: 80px;
    width: max-content;
    height: 40px;
    padding: var(--size-4);
    border-radius: 6px;
    font-size: var(--font-size-3);
  }

  .remindMeLater:hover{
    cursor: pointer;
    background-color: #364658;
  }

  .userImagesDivWrapper{
    position: relative;
    width: 100%;
    margin: var(--size-9);
   
  }

  .userImagesDiv{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
   
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid gray;
  }



  .addImageDiv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    width: calc(100% / 5 - 12px);
    aspect-ratio: 1;
    margin: 6px 6px;
   box-sizing: border-box;
  }

  .addImageDiv:hover{
    background-color: #1b191a;
    border: 1px solid rgb(104, 111, 207);
    cursor: pointer;
  }



  .userImageDiv{
  
    width: calc(100% / 5 - 12px);
    aspect-ratio: 1;
    margin: 6px 6px;
    position: relative;
    box-sizing: border-box;
  }

 

  .userImage{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    
  }

  .cancelImage{
    position: absolute;
    top: -6px;
    right: -6px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;

    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    font-size: var(--font-size-2);
    
    
  
  }

  .cancelImage:hover{
    cursor: pointer;
  }


  .userImgsContinue{
    display: none;
   
  }


  .nextButton{
   
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(112, 128, 118);
    border: none;
    min-width: 80px;
    width: max-content;
    height: 40px;
    padding: var(--size-4);
    border-radius: 6px;
    font-size: var(--font-size-3);
    
  }


 .nextButton:hover{
  cursor: pointer;
  background-color: rgb(112, 128, 118);
 }

 .nextButton:active{
     
     background-color: #364658;
 }

 .nextButtonDisabled{
  color: rgb(15, 16, 26);
 opacity: 0.75;

}
.nextButtonDisabled:hover{
  
  background-color: rgb(112, 128, 118);

}

 

  .writeReviewText{
    color:white;
    width: 100%;
    margin-top:var(--size-7);
    background-color: transparent;
    border: 1px solid gray;
 
    box-sizing: border-box;
  }

  .writeReviewText:focus{
    border-color: #7daee2;
    outline: none;
  }

  .personInfo{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: var(--size-7);
  }

  .personInfoDiv{
    width: calc(50% - var(--size-3))
    
  }


  .personInfoInput{
    color:white;
   width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: var(--size-2);
    box-sizing: border-box;
  }

  .personInfoInput:focus{
    border-color: #7daee2;;
    outline: none;
  }

  .personInfoDiv label{
    
    display: flex;
    align-items: center;
  }


  .personEmailDiv{
    width: 100%;
   display: flex;
   flex-direction: column;
   margin-bottom: var(--size-7);
  }

  .personEmail{
    color:white;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: var(--size-2);
    box-sizing: border-box;
  }

  .personEmail:focus{
    border-color: #7daee2;
    outline: none;
  }

  .personEmailDiv label{
    
    display: flex;
    align-items: center;
  }

  .required{
    margin-left:var(--size-1);
    font-weight: 500;
    font-size: var(--font-size-1);
    align-self: flex-start;
    opacity: 0.7;
  }

  .requiredError{
    
    font-size: var(--font-size-2);
    color: red;
  }

  .writeReviewTerms{
    text-align: center;
    font-size: var(--font-size-3);
    opacity: 0.7;
  }

  .writeReviewTerms a{
    color:white;
  }

  
  .continueLink{
    text-decoration: none;
  }
  
  
  @media (max-width: 980px)  {
    .writeReviewDiv{
      width: calc(100% - var(--size-11));
    }
  
    .writeReviewDiv{
 
     
      margin: 32px var(--size-3);
      margin-bottom: var(--size-7);
     
    
    }


    .personInfoDiv{
      width: calc(50% - var(--size-2))
      
    }
  



  }

  @media( max-width: 900px){
    .mainReviewDiv{
      position: relative;
      max-width: none;
      max-height: none;
      height: 100%;
      width: 100%;
      transform: scale(1);
      opacity: 1;
        animation: spawnWriteReviewMob 0.5s ease;
     
    }

    .addImageDiv{
      
      width: calc(100% / 3 - 12px);
     
    }
  

    .userImageDiv{
    
      width: calc(100% / 3 - 12px);
     
    }

  

  }
  
  @media (max-width: 600px)  {
    .writeReviewDiv{
      width: calc(100% - var(--size-8));
    }

    .reviewsNumberSpan{
      font-size: var(--font-size-2);
    }

    .reviewInfoDiv{
      width: calc(100% - var(--size-8));
    }

    .writeReviewFooterMobile{
      display: flex;
    }
    

    .progressDivMobileControl{
      display:none;
    }

    .progressDiv{
     margin: 0 auto;
    }

    .writeReviewFooter{
      height: max-content;
    }

    .nextButtonMobileAnim{
      
      
      animation: spawnNextFooter 0.5s ease forwards;
    }

    .remindMeLaterMobileControl{
      display: none;
    }

    .continueFooter{
      justify-content: center;
    }

    .continueLink{
      width: 100%;
    }


    .nextButton{
      width: 100%;
    }

    

     .userImgsContinue{
      display: block;
      position:absolute;
      bottom: -64px;
      left: 0;
      width: 100%;
      height: max-content;
      color: black;
      background-color: rgb(112, 128, 118);
      border: none;
     
      padding: var(--size-4);
      border-radius: 4px;
      font-size: var(--font-size-3);
    }

    .userImgsContinue:hover{
      cursor: pointer;
    }

  }


    @media (max-width: 480px)  {

      .writeReviewDiv{
       flex-direction: column;
        justify-content: center;
        align-items: center;
       
      
      }

      .writeReviewButton{
        margin-top: var(--size-3);
        width: calc(100% - var(--size-4));
      }

      .raitingDiv{
        margin-left:6px;
        align-self: flex-start;
      }
      
  .reviewsNumberSpan{
    margin-left: var(--size-2);
  }
  
  }


  
  
  
  
  @keyframes scaleAnim {
    0% {
      
      transform: scale(0.2);
    }
    100% {
      
      transform: scale(1);
    }
  }

  @keyframes spawnWriteReviewMob{
    0% {
      opacity: 0.7;
      transform: translatey(100%);
    }
    30%{
      opacity:1;
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }


  @keyframes fillBar {
    0% {
      
      width: 0%;
    }
    100% {
      
      width: 100%;
    }
  }

  @keyframes fillOutBar {
    0% {
      
      width: 100%;
    }
    100% {
      
      width: 0%;
    }
  }


  @keyframes swipeInLeftPage {
    0% {
      opacity: 0.8;
      transform: translateX(-80%);
    }
  

   
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


  @keyframes swipeOutLeftPage {
    0% {
      transform: scale(1);
    }
   
    50% {
      opacity: 0.6;
      transform: translateX(-10%) scale(0.8);
    }

   
    100% {
      opacity: 0;
      transform: translateX(-100%) scale(0.8);
    }
  }


  @keyframes swipeInRightPage {
    0% {
      opacity: 0.8;
      transform: translateX(80%);
    }
  

   
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  
  @keyframes swipeOutRightPage {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 0.6;
      transform: translateX(10%) scale(0.8);
    }
  

   
    100% {
      opacity: 0;
      transform: translateX(100%) scale(0.8);
    }
  }

  @keyframes spawnFooter {
    0% {
      height: 0;
    }
    100% {
      
      height: 32px;
    }
  }

  @keyframes spawnNextFooter {
    0% {
      opacity: 0;
      transform: translatey(150%);
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }

  


  @keyframes swipeOutRightFooter {
    0% {
      transform: translateX(0);
    }
    50% {
      
      transform: translateX(10%);
    }
  

   
    100% {
     
      transform: translateX(100%);
    }
  }

  @keyframes swipeOutLeftFooter {
    0% {
      transform: translateX(0);
    }
    50% {
      
      transform: translateX(-10%);
    }
  

   
    100% {
     
      transform: translateX(-100%);
    }
  }


  