
  
  .submittedReview{
    color: #43a047;
    margin: var(--size-7) 0;
  }
  


  .writeReviewPopupDiv{
    position: fixed;
    left: 0;
    top: 0;
  
    height: 100%;
    width: 100%;
   
   
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 11;
  }

  .reviewBackgroundDiv{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;


  }

  .mainReviewDiv{
    position: relative;
    max-width: var(--size-17);
    max-height: var(--size-17);
    height: calc(100% - var(--size-7));
    width: calc(100% - var(--size-7));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--write-review-main-bg);
    transform: scale(0);
    animation: scaleAnim 0.5s ease-out 0.2s 1 normal forwards;
    z-index: 2;
    overflow: hidden;
  }
 
  .reviewPageDiv{
  
    width: calc(100% - var(--size-5));
    max-width: var(--size-14-5);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
  }

  .reviewPageDiv h1{
    margin-top: 0;
  }

  .swipeInLeftAnimation{
    animation: swipeInLeftPage 0.2s ease forwards;
  }

  .swipeOutLeftAnimation{
    animation: swipeOutLeftPage 0.5s ease forwards;
  }

  .swipeInRightAnimation{
    animation: swipeInRightPage 0.2s ease forwards;
  }

 

  .swipeOutRightAnimation{
    animation: swipeOutRightPage 0.5s ease forwards;
  }

  .swipeOutRightFooterAnimation{
    animation: swipeOutRightFooter 0.5s ease-in-out forwards;
  }

  .swipeOutLeftFooterAnimation{
    animation: swipeOutLeftFooter 0.5s ease-in-out forwards;
  }


  .closeButton{
   
    position: absolute;
    left: var(--size-4);
    top:var(--size-4);
    
    height: var(--size-6);
    width: var(--size-6);
    
    border-radius: 6px;

 
      padding: var(--size-4);
     
      cursor: pointer;
  }

  @media (hover: hover) {
  .closeButton:hover{
    background-color: var(--writing-next-button-hover-bg);
    
  }
}

  .writeReviewFooter{
 
    height: var(--size-7);
    width: 100%;
    margin:  var(--size-5) 0;
    box-sizing: border-box;
    padding: 0 var(--size-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .writeReviewFooterSpawn{
    animation: spawnFooter 0.15s ease;
  }

  .writeReviewFooterMobile{
    display: none;
  }






  .rateQuestion{
    margin-bottom: var(--size-7);
    font-size: var(--font-size-5);
  }
  
  .progressDiv{
    display: flex;
    flex: 1;
    justify-content: center;
   
  }

  .progressBar{
   height: var(--size-3);
   width: var(--size-9);
   background-color: var(--writing-empty-progress-bar);
   border-radius: 4px; 
   margin: 0 var(--size-2);
   overflow: hidden;
  }
  
  .progressBarFilled{
    height: 100%;
    background-color: var(--writing-accent-color);
  }

  .progressBarFiller{
    background-color: var(--writing-accent-color);
    height: 100%;
    width: 0;
    transition: width 0.25s ease;
  }

  .fillProgressBarFiller{
    width: 100%;
  }



  .showImageTitle{
    margin-bottom: var(--size-2);
  }


  .centerButtons{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(--size-4);
    margin: var(--size-9);
    border-radius: 4px;
    border: 1px solid var(--writing-accent-color);
  }

  .mediaButton{
    position: relative;
    color: var(--var(--writing-accent-color)-9-elegant);
    background-color: var(--writing-media-button);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    margin: var(--size-2) 0;
    font-size: var(--font-size-3);
    font-weight: 600;
    cursor: pointer;
  }
  
  @media (hover: hover) {
    .mediaButton:hover{
     
      transition: background-color 0.1s ease;
      background-color: var(--writing-next-button-bg)
    }
   }

 

  .mediaButtonImgInput{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  

  .arrowBackDiv{
  
   
    height: auto;
  }

  .arrowBack{
    
    
    width: max-content;
  

   
    
    height: var(--size-6);
    width: var(--size-6);

    transform: rotate(180deg);
   
    cursor: pointer;
  }

  .arrowBackMob{
   
    margin-top: 10px;
   
    padding:  var(--size-4);
  }


  .skipInFooter{
    margin-top: var(--size-3)
   
  
  }

  @media (hover: hover) {

  
    .arrowBackMob:hover{
    background-color: var(--writing-next-button-hover-bg);
    border-radius: 6px;
    }

  }





  .remindMeLater{
  

    min-width: 80px;
    width: max-content;
    height: 40px;

    color: var(--high-contrast-light-txt-color);
    background-color:transparent;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    
    border: none;
  
    padding: var(--size-4);
    border-radius: 6px;
    font-size: var(--font-size-3);
    cursor: pointer;
  }

  @media (hover: hover) {
    .remindMeLater:hover{
    
      background-color: var(--writing-next-button-hover-bg);
    }
   }
   

   .upFooterBackBtn{
    min-width: var(--size-7);
    height: auto;
    aspect-ratio: 1;
   }

  .userImagesDivWrapper{
   
    width: 100%;
    margin: var(--size-9);
   
  }

  .userImagesDiv{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
   
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid var(--writing-accent-color);
  }



  .addImageDiv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--writing-accent-color);
    width: calc(100% / 5 - var(--size-4));
    aspect-ratio: 1;
    margin: 6px 6px;
   box-sizing: border-box;
   cursor: pointer;
  }


  @media (hover: hover) {
    .addImageDiv:hover{
    
      border: 1px solid var(--writing-add-image-div-border);
     
    }
   }

   .addImageDiv:active{
   
    border: 1px solid var(--writing-add-image-div-border);
   }



  .userImageDiv{
  
    width: calc(100% / 5 - var(--size-4));
    aspect-ratio: 1;
    margin: 6px 6px;
    position: relative;
    box-sizing: border-box;
  }

 

  .userImage{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    
  }

  .cancelImage{
    position: absolute;
    top: -6px;
    right: -6px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--writing-accent-color);

    background-color: black;
    border-radius: 100%;
    
    cursor: pointer;
  
  }



  .userImgsContinue{
    display: none;
   
  }


  .nextButton{
   
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--writing-next-button-bg);
    border: none;
    min-width: 80px;
    width: max-content;
    height: 40px;
    padding: var(--size-4);
    border-radius: 6px;
    font-size: var(--font-size-3);
    transition: background-color 0.1s ease;
    cursor: pointer;
  }

  @media (hover: hover) {
    .nextButton:hover{
     
      background-color: var(--writing-next-button-hover-bg);
     }
}


 .nextButton:active{
     
     background-color: var(--writing-next-button-hover-bg);
 }

 .nextButtonDisabled{
  color: var(--writing-next-button-disabled-txt-color);
 opacity: 0.75;

}
.nextButtonDisabled:hover{
  
  background-color: var(--writing-next-button-bg);

}

.tellUsMore{
  margin-top: 0;
}
 

  .writeReviewText{
    color:var(--light-txt-color);
    background-color: transparent;
    height: var(--size-11);
    width: 100%;
    margin-top:var(--size-7);
   
    
    box-sizing: border-box;
    padding: var(--size-3) var(--size-3);
    border: 1px solid var(--writing-accent-color);
    
  }

  .writeReviewText:focus{
    border-color: var(--input-box-shadow-color);
    outline: none;
  }

  .personInfo{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: var(--size-7);
  }

  .personInfoDiv{
    width: calc(50% - var(--size-3))
    
  }


  .personInfoInput{
    color: var(--high-contrast-light-txt-color);
   width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--writing-accent-color);
    border-radius: 8px;
    margin-top: var(--size-2);
    box-sizing: border-box;
  }

  .personInfoInput:focus{
    border-color: var(--input-box-shadow-color);;
    outline: none;
  }

  .personInfoDiv label{
    
    display: flex;
    align-items: center;
  }


  .personEmailDiv{
    width: 100%;
   display: flex;
   flex-direction: column;
   margin-bottom: var(--size-7);
  }

  .personEmail{
    color:var(--high-contrast-light-txt-color);
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--writing-accent-color);
    border-radius: 8px;
    margin-top: var(--size-2);
    box-sizing: border-box;
  }

  .personEmail:focus{
    border-color: var(--input-box-shadow-color);
    outline: none;
  }

  .personEmailDiv label{
    
    display: flex;
    align-items: center;
  }

  .required{
    margin-left:var(--size-1);
   
    font-size: var(--font-size-1);
    align-self: flex-start;
    opacity: 0.7;
  }

  .requiredError{
    
    font-size: var(--font-size-2);
    color: var(--error-color);
  }

  .writeReviewTerms{
    text-align: center;
    font-size: var(--font-size-3);
    opacity: 0.7;
  }

  .writeReviewTerms a{
    color:var(--high-contrast-light-txt-color);
  }

  
  .continueLink{
    margin-left: auto;
    text-decoration: none;

    padding: var(--size-4);
    color:var(--high-contrast-light-txt-color);
   

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 6px;
      
  }

  @media(hover:hover){
  .continueLink:hover{
    background-color: var(--writing-next-button-hover-bg);
  }
}
  
  
  @media (max-width: 980px)  {
  
  
   

    .personInfoDiv{
      width: calc(50% - var(--size-2))
      
    }
  



  }

  @media( max-width: 900px){
    .mainReviewDiv{
      position: relative;
      max-width: none;
      max-height: none;
      height: 100%;
      width: 100%;
      transform: scale(1);
      opacity: 1;
        animation: spawnWriteReviewMob 0.5s ease;
     
    }

    .addImageDiv{
      
      width: calc(100% / 3 - var(--size-4));
     
    }
  

    .userImageDiv{
    
      width: calc(100% / 3 - var(--size-4));
     
    }

  

  }
  
  @media (max-width: 600px)  {
   

  

    .reviewInfoDiv{
      width: calc(100% - var(--size-8));
    }

    .writeReviewFooterMobile{
      display: flex;
    }
    

    .progressDivMobileControl{
      display:none;
    }

  
  

    .nextButtonMobileAnim{
      
      
      animation: spawnNextFooter 0.5s ease forwards;
    }

    .remindMeLaterMobileControl{
      display: none;
    }

   

    .continueLink{
      width: 100%;
      height: 40px;

      color: black;
      background-color: var(--writing-next-button-bg);

      display: flex;
      justify-content: center;
      align-items: center;
      
      box-sizing: border-box;
      
      padding: var(--size-4);
      border-radius: 6px;


      transition: background-color 0.1s ease;

      font-size: var(--font-size-3);

   
    

    }


  
    @media (hover: hover) {
      .continueLink:hover{
       
        background-color: var(--writing-next-button-hover-bg);
       }
  }
  
  
  .continueLink:active{
       
       background-color: var(--writing-next-button-hover-bg);
   }






    .nextButton{
      width: 100%;
    }

    

     .userImgsContinue{

      display: block;
      position:absolute;
      bottom: var(--size-9);
      left: var(--size-5);

      color: black;
      background-color: var(--writing-next-button-bg);
      
      width: calc(100% - var(--size-7));
      
     
      padding: var(--size-4);
      border: none;
      border-radius: 4px;
     
      
      font-size: var(--font-size-3);
      cursor: pointer;
    }

  

  }


    @media (max-width: 480px)  {

    
   
    
      
 
  
  }


  
  
  
  
  @keyframes scaleAnim {
    0% {
      
      transform: scale(0.2);
    }
    100% {
      
      transform: scale(1);
    }
  }

  @keyframes spawnWriteReviewMob{
    0% {
      opacity: 0.7;
      transform: translatey(100%);
    }
    30%{
      opacity:1;
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }


  @keyframes fillBar {
    0% {
      
      width: 0%;
    }
    100% {
      
      width: 100%;
    }
  }

  @keyframes fillOutBar {
    0% {
      
      width: 100%;
    }
    100% {
      
      width: 0%;
    }
  }


  @keyframes swipeInLeftPage {
    0% {
      opacity: 0.8;
      transform: translateX(-80%);
    }
  

   
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


  @keyframes swipeOutLeftPage {
    0% {
      transform: scale(1);
    }
   
    50% {
      opacity: 0.6;
      transform: translateX(-10%) scale(0.8);
    }

   
    100% {
      opacity: 0;
      transform: translateX(-100%) scale(0.8);
    }
  }


  @keyframes swipeInRightPage {
    0% {
      opacity: 0.8;
      transform: translateX(80%);
    }
  

   
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  
  @keyframes swipeOutRightPage {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 0.6;
      transform: translateX(10%) scale(0.8);
    }
  

   
    100% {
      opacity: 0;
      transform: translateX(100%) scale(0.8);
    }
  }

  @keyframes spawnFooter {
    0% {
      max-height: 0;
    }
    100% {
      
      max-height: var(--size-7);
    }
  }

  @keyframes spawnNextFooter {
    0% {
      opacity: 0;
      transform: translatey(150%);
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }

  


  @keyframes swipeOutRightFooter {
    0% {
      transform: translateX(0);
    }
    50% {
      
      transform: translateX(10%);
    }
  

   
    100% {
     
      transform: translateX(100%);
    }
  }

  @keyframes swipeOutLeftFooter {
    0% {
      transform: translateX(0);
    }
    50% {
      
      transform: translateX(-10%);
    }
  

   
    100% {
     
      transform: translateX(-100%);
    }
  }


  