



.coolImageDiv{
  width: 30%;
  position: relative;
  margin-top: var(--size-3);
  margin-bottom:var(--size-3);
  padding-left:var(--size-5);
  padding-right:var(--size-5);
 
  object-fit: cover;
}

.coolImage{
  position: relative;
  height:min-content;
  width: 100%;
  object-fit: cover;
}





.policy_background_div{
    width: 80%;
    height: min-content;
    
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    box-sizing: border-box;
   
    margin-bottom:var(--size-9);
    
    }
    
    .policy_main_div{
    
      height: max-content;
      width: 45%;
        color:var(--yellow-white);
         overflow: auto;
         margin-top: var(--size-3);
         margin-bottom:var(--size-3);
         
        
         max-width:720px;

         display: flex;
         flex-direction: column;
         align-items: flex-start;
       
    }
    
    .policy_main_div p{
      font-size: var(--font-size-3);
      margin-bottom: 0;
    }
    
    .policy_main_div h1{
      margin-top: 0;
    }
    
    
   
  
    
    
    .policy_background_div::-webkit_scrollbar {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      };
      .policy_background_div::-webkit-scrollbar-track {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      };
      .policy_background_div::-webkit-scrollbar-thumb {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
    
    
      .policy_background_div hr{
        border-color: var(--gray-10)
    }
    
    


    @media (max-width: 1720px) {
      .coolImageDiv{
        width:35%;
      }

    }

    @media (max-width: 1520px) {
      .coolImageDiv{
        width:40%;
      }

    }
  


    @media (max-width: 1320px) {
      .coolImageDiv{
        width:45%;
      }

    }

    @media (max-width: 1080px) {

      .policy_background_div{
        flex-direction: column;
        width: calc(100% - var(--size-11));
        
     }

     .policy_main_div h1{
      align-self: center;
     }

     .coolImageDiv{
      display: none;
     }

     .coolImage{
      width: 100%;
    }

        .policy_main_div{
          width: 100%;
        max-width: 100%;
      }
    }

    @media (max-width: 600px)  {
      .policy_background_div{
        width: calc(100% - var(--size-8));
      max-width: 100%;
    }
  }
 