.container {
  margin-top: var(--size-6);
  min-height: calc(100vh - var(--size-9));
  min-width: 100vw;
  z-index: 2;
  
}

.containerStyle{
  height: 100%;
}


  
  .title {
    color: white;
      margin-bottom: var(--size-7);
      margin-top: var(--size-7);

  }
  
  .emptyButton {
    background-color: transparent;
    color: white;
    min-width: var(--size-11);
  }
  
  .checkoutButton {
    min-width: var(--size-11);
  }
  
  .link {
    text-decoration: none;
  }
  
  .cardDetails {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-top: var(--size-11);
    width: 100%;
  
    margin-bottom: 5vh;
  }
  
  .emptyCartText {
    color: white;
    margin-right: var(--size-3);
    margin-top: var(--size-7);
  }