.container {
  width:max-content;
  max-width: 960px; /* Set the maximum width for the container */
  min-height: 100vh;
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto;
  padding-left: 16px; /* Add padding to the left and right */
  padding-right: 16px;
  /* Add any additional styles as needed */
  background-color: gray;
}

.toolbar {
    min-height: 64px; /* Replace with the desired height value */
  }
  
  .title {
    margin-top: 5%;
    color: white;
  }
  
  .emptyButton {
    background-color: transparent;
    color: white;
    min-width: 150px;
  }
  
  .checkoutButton {
    min-width: 150px;
  }
  
  .link {
    text-decoration: none;
  }
  
  .cardDetails {
    display: flex;
    margin-top: 15vh;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5vh;
  }
  
  .emptyCartText {
    color: white;
    margin-bottom: 5vh;
  }