
.invisibleDiv{
  position : absolute;
  top : 0;
  left:0;
height : 100dvh;
visibility: hidden;
contain: layout paint size style;
}

.invisibleDiv2{

height : 100vh;



} 


.mainWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100svh - var(--size-9));
}

.containerStyle{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
  /* transition: min-height 0.2s ease; */
  padding: 0 var(--size-10);
  padding-bottom: var(--size-7) ;
  box-sizing: border-box;
}



.itemsDiv{
  border-top: 1px solid var(--border-color-mid);
  margin-bottom: var(--size-10);
 
}

  
  .title {
    color: var(--high-contrast-light-txt-color);
      margin-bottom: var(--size-7);
      margin-top: var(--size-5);
    font-weight: 400;
  }
  


 

  .subtotalNew{
    color: var(--high-contrast-light-txt-color);
    font-size: var(--font-size-7); /* Adjust the font size as needed */
    font-weight: 400; /* You can adjust the font weight */
    padding:0;
    margin:0;
   
  }
  
  .checkoutButton {
    min-width: var(--size-12);
    display:none;
   
  }

  .checkoutButtonNew{
    height: 40px;
    min-width: var(--size-12);
    color: var(--high-contrast-light-txt-color);
    background-color: var(--main-button-color);
     /* var(--main-button-hover-color);  */
     box-sizing: border-box;
     border-radius: 4px;
    border: none;
    font-size: var(--font-size-3);   
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .checkoutButtonNew:hover{
  
    background-color: var(--main-button-hover-color);
  }
  
  .link {
    
    text-decoration: none;
  }
  
  .cardDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    margin-bottom:0;
  }
  

.emptyCartMainDiv{
  
  min-height: 0;
    min-height:0;
}

  .emptyCartDiv{
    min-height: 0;
    min-height:0;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
  }

  .emptyTitle {
     
      margin-bottom: var(--size-3);
  }
  
  .emptyCartText {
   
    font-size: var(--font-size-5);
    
    font-weight: 400;
   
  }

  .shopNowLink{
    display: flex;
    justify-content: center;
    margin-top: var(--size-5);
    text-decoration: none;
  }

  .shopNow{
  

      height: 40px;
      min-width: var(--size-12);
      color: var(--high-contrast-light-txt-color);
      background-color: var(--main-button-color);
     
      border-radius: 4px;
      border: none;
      font-size: var(--font-size-3);   
      transition: background-color 0.3s ease;
      cursor: pointer;

  }

.shopNow:hover{
  
  background-color: var(--main-button-hover-color);
}



  @media(max-width: 980px){

  
    .itemsDiv{
      margin-bottom: var(--size-9);
    }

    
.containerStyle{
  padding: 0 var(--size-8);
  padding-bottom: var(--size-6) ;
}


    .cardDetails {
    
      margin-left: var(--size-3);
      width: calc(100% - var(--size-5));
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    }

    .link {
      margin-top: var(--size-4);
     align-self: center;
     width:100%;
    }

    .checkoutButton {
      min-width: none;
      width: 100%;
    }

    .checkoutButtonNew {
      min-width: none;
      width: 100%;
    }

  }

  @media(max-width: 600px){
    .containerStyle{
    padding: 0 var(--size-5);
    padding-bottom: var(--size-6) ;
    }
  }

  @media(max-width: 480px){

    .itemsDiv{
      margin-bottom: var(--size-8);
    }

    .containerStyle{
      padding: 0 var(--size-4);
      padding-bottom: var(--size-5) ;
    }
  }

