.container {
  margin-top: var(--size-7);
  margin-bottom: var(--size-7);
  min-height: calc(100vh - var(--size-10));
  min-width: 100vw;
  z-index: 2;
  
}

.containerStyle{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--size-10));
  height: 100%;
}


  
  .title {
    color: white;
      margin-bottom: var(--size-7);
      margin-top: var(--size-7);

  }
  
  .emptyButton {
    background-color: transparent;
    color: white;
    min-width: var(--size-11);
  }
  
  .checkoutButton {
    min-width: var(--size-11);
  }
  
  .link {
    text-decoration: none;
  }
  
  .cardDetails {
    display: flex;
    justify-content: space-between;
   
    width: 100%;
    margin-top: auto;
    margin-bottom: var(--size-9);
  }
  
  .emptyCartText {
    color: white;
    margin-left: var(--size-3);
    margin-right: var(--size-3);
    margin-top: var(--size-7);
  }