.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:10px;
  }
  
  .main-image {
    position:relative;
    margin-bottom: 20px;
  }
  
  .main-image img {
    width: 400px;
    height: auto;
  }
  
  .thumbnail-images {
    display: flex;
    justify-content: center;
  }
  
  .thumbnail-images img {
    width: 80px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .thumbnail-images img:last-child {
    margin-right: 0;
  }
  
  .thumbnail-images img.selected {
    border-color: #f00;
  }


  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .arrow:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  .left {
    left: 10px;
  }
  
  .right {
    right: 10px;
  }