.descriptionDiv{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--size-5);
    padding-left:  var(--size-2);
    padding-right:  var(--size-2);
    box-sizing: border-box;
}






.trustIcons{
    display: flex;
    width: 100%;
    max-width: var(--size-15);
}


.trustIcon{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0 var(--size-2);
    margin-top: var(--size-7);
   
}

.trustIconImage{
    height: var(--size-8);
    width: var(--size-8);
}

.trustIcon span{
    margin-top: var(--size-3);
    font-size: var(--font-size-2);
}


.mainContactDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: var(--size-2) var(--size-4);
}


.contactInfoDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: var(--size-5);
    box-sizing: border-box;
    
  
  

}

/**/





.inputGroup{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
   
    box-sizing: border-box;

    margin-bottom: var(--size-5);
}

.inputGroupErrorMargin{
    margin-bottom: 0;
}



.contactInput{
  
    height: 40px;
    width: 100%;
   
    color: var(--high-contrast-light-txt-color);
    background-color: var(--contact-input-color);
    /* font-family: var(--font-neutral); */
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
      padding: var(--size-4) var(--size-3);
      padding-bottom: 0;
    outline: none;
    font-size: var(--font-size-3);
    font-family: var(--font-neutral);
   

    
}



.contactInput:focus{
    border: 1px solid var(--border-color-strong);
}


.inputGroupLabel{
    color: var(--checkout-input-placeholder);
    position: absolute;
    left: var(--size-3);
    top: calc(50% - var(--size-3));

   

    transition: all 0.2s ease;
    pointer-events: none;
    opacity: 0.7;
  }


.contactInput:focus{
    border: 1px solid var(--border-color-strong);
}



.contactInput:focus + .inputGroupLabel,
.contactInput:not(:placeholder-shown) + .inputGroupLabel {
  opacity: 0.9;
top: 2px;
font-size: var(--font-size-1);

}






.contactError{
    color: var(--error-color);
    margin-bottom: var(--size-5);
    margin-top:  var(--size-2);
    margin-left: var(--size-1);
    font-family: var(--font-neutral);
    font-size: var(--font-size-2);
    align-self: flex-start;
}

.contactMessageError{
    margin-bottom: 0;
      
    margin-left: 4px;
}


.messageField{
    position: relative;
    width: 100%;
   
    display: flex;
    flex-direction: column;
  
   
    margin-top: var(--size-5);
  
    
   
   
    border-radius: 8px;
}



.messageTextArea{
    height: var(--size-12);
    border: none;
    color: var(--high-contrast-light-txt-color);
    background-color: var(--contact-input-color);
    flex-grow: 1;

    resize: none;
    border-radius: 8px;
    font-family: var(--font-neutral);
    font-size: var(--font-size-3);
    box-sizing: border-box;
    padding: 0 var(--size-3);
    padding-top: var(--size-6);
    outline: none;
}

.messageTextArea::placeholder{
    font-family: var(--font-neutral);
}

.messageTextArea:focus{
    border: 1px solid var(--border-color-strong);
}



.messageText{
    color: var(--checkout-input-placeholder);
    position: absolute;
    left: var(--size-3);
    top: var(--size-4);

   

    transition: all 0.2s ease;
    pointer-events: none;
    opacity: 0.7;
  }





  .messageTextArea:focus + .messageText,
  .messageTextArea:not(:placeholder-shown) + .messageText {
  opacity: 0.9;
top: 8px;
font-size: var(--font-size-1);

}





.messageSuccess{
    color: var(--success-color);
    
    font-family: var(--font-neutral);
    font-size: var(--font-size-2);
    margin-top: var(--size-1);
    margin-left: var(--size-3);
}

.sendButton{
    align-self: flex-end;
    width: var(--size-11);
    height: var(--size-8);
    border: none;
    border-radius: 12px;
    color: var(--action-button-txt-color);
    background-color: var(--action-button-bg-color);
 

    margin: var(--size-6) var(--size-1);
    margin-bottom: 40px;
    font-size: var(--font-size-4);
    cursor: pointer;
}

.sendButton:hover{
  
    background-color: var(--action-button-bg-color-hover);
    /* background-color: rgb(35, 49, 48); */
   
}

.sendButtonDisabled{
    opacity: 0.7;
    cursor:auto;
}

.sendButtonDisabled:hover{
    background-color:  var(--action-button-bg-color);
   
}




@media (max-width: 1080px){
    .descriptionDiv{
       
        margin-bottom: var(--size-7);
    }

  

   
}

@media(max-width: 600px){

    .trustIcon{
        margin-top: var(--size-6);
    }
}

@media(max-width: 480px){
  
    
    .sendButton{
        align-self: center;
        width: calc(100% - var(--size-2));
      
        margin-top: var(--size-6);
       
        
        border-radius: 4px;
      
    }


}



@media( max-width: 370px){

    .trustIcon{
        margin-top: var(--size-5);
    }

    .trustIcon span{
        font-size: var(--font-size-1);
    }
}

@media( max-width: 320px){

    .trustIcon{
        margin-top: var(--size-4);
    }

    .trustIconImage{
        height: 40px;
        width: 40px;
    }

    .trustIcon span{
        margin-top: var(--size-2);
    }
  
}

