


.zoomImg{
 
    position: absolute;
    left: 4px;
    top: 4px;
    height: 16px;
    width: 16px;
    padding: 4px;
    opacity: 1;
    border-radius: 100%;
    background-color: var(--gray-9-elegant-op08);
    display:none !important;
    
  }



  .productPicsWrapper{
    position:relative;
    width: var(--size-15-5);
    height: 100%;
    overflow:hidden;
  }
  

  .productPicsFixed{
    width: var(--size-15-5);
    position: fixed;
    top: 32px;
  }

  .productPicsBot{
   width:100%;
    position: absolute;
   bottom: 24px;
  }
  
  .productImageDiv{
    position: relative;
    width: var(--size-15-5);
    aspect-ratio: 16/9;
  }

  .productImage{
    width:100%;
  height: 100%;
  object-fit: cover;
  
  }
  .productImage:hover{
    cursor: pointer;
  }

  .productImage:hover + .zoomImg{
    /* Styles applied to .target when .trigger is hovered */
    display: inline-block !important;
  }

  .slider{
    height:360px;
    overflow: hidden;
  }


  .slider2{
    
    margin: var(--size-6) auto;
width: calc(100% - var(--size-11));

  }

  .slider2Controller{display:none;}

  

  

    
 

  .grid_container {
    width: 100%;
    margin-top: var(--size-6);
  
    grid-template-columns: repeat(4, 1fr); /* Two columns */
    grid-gap: 12px; /* Gap between grid items */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
   
    
  }


  .productImage2Div{
    width: calc(25% - 9px);
    aspect-ratio: 16/9;
    overflow: hidden;
  
 
  }

  


  .selectedImage{
    box-sizing: border-box;
    border: 1px solid rgb(204, 67, 101);
    
    
  }

  @media(max-width: 1280px){

    .productPicsWrapper{

      width: var(--size-15-5);
    }
    .productPicsFixed{
      width: var(--size-15-5);
    }
    .productPicsBot{
      width: var(--size-15-5);
    }

    .productImageDiv{
      width: var(--size-15-5);
    }

    .slider{
      height:324px;
    }
  }



  @media(max-width: 980px){

    .productPicsFixed{
      width:100%;
      position: static;
      
    }

    .slider2Controller{display:block;}
  
    .productPicsBot{
     width:100%;
      position: static;
    
    }

    .productPicsWrapper{
      width: auto;
    }

    .slider{
        height:calc((100vw - 48px)* 9 / 16)
  
      }
  
      .productImageDiv{
        margin-left: 4px;
        margin-right: 4px;
        width: calc(100vw - 40px);
        aspect-ratio: 16/9;
        
      }

      .zoomImg{
        /* Styles applied to .target when .trigger is hovered */
        display: inline-block !important;
      }
  
      .productImage{
        width:100%;
      height: 100%;
      object-fit: cover;
      }
  
      .grid_container{
        display:none;
      }
  
      .slider2{
        margin: var(--size-6) auto;
    width: calc(100% - var(--size-10));
    
    
      }

     
  
      
    .productImage2Div{
      margin-left: 4px;
      width: calc((100vw - var(--size-10)) / 3 - 8px);
      aspect-ratio: 16/9;
   
    }
  
  
    .productImage2{
      
      width: 100%;
      height: 100%;
      object-fit: cover;
  
    }
  

  }