

.zoomImg{
 
    position: absolute;
    left: var(--size-2);
    top: var(--size-2);
    height: var(--size-5);
    width: var(--size-5);
    padding: var(--size-2);
    opacity: 1;
    border-radius: 100%;
    background-color: var(--gray-9-elegant-op08);
    display:none;
    
  }



  .productPicsWrapper{
   
    position:relative;
    margin-right:var(--size-6);
   
    width: var(--size-15-5);
    height: auto;
  }

  .productImagesWrapper{
    position: -webkit-sticky;
    position: sticky;
    top: var(--size-7);
    bottom: 100%;
  }
  

  .productPicsFixed{
    
    width: var(--size-15-5);
    position: fixed;
    top: var(--size-7);
  }

  .productPicsBot{
   width:100%;
    position: absolute;
   bottom: 0px;
  }

  .slide{
    position: relative;
    aspect-ratio: 1;
    width: var(--size-15-5);
    
   
  }
  


  .productImage{
    width:100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  z-index: 100;
  }


  .productImage:hover + .zoomImg{
    /* Styles applied to .target when .trigger is hovered */
    display: inline-block;
  }

 
















  .slider2Suiter{
    position: relative;
    width: 100%;
    contain: paint;
  }



  .leftArrowDiv{
    display: none;
 
  }


  
 

  

  

    
 

  .grid_container {
    width: 100%;
    margin-top: var(--size-5);
  
    grid-template-columns: repeat(4, 1fr); /* Two columns */
    grid-gap: var(--size-4); /* Gap between grid items */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
   
    
  }


  .productImage2Div{
    width: calc(25% - 9px);
    aspect-ratio: 1;
    overflow: hidden;
  
 
  }

  


  .selectedImage{
    box-sizing: border-box;
    border: 1px solid var(--selected-product-image-border);
    
    
  }


  .fixedAddToCartDiv{
  display: none;
   
  }

 

  @media(max-width: 1280px){

   
    .productPicsFixed{
      width: var(--size-15-5);
    }
    .productPicsBot{
      width: var(--size-15-5);
    }

  


  }

  
@media(min-width: 980px){


 

  .slider2Suiter{
    display: none;
  }
}


  @media(max-width: 980px){

    .productPicsWrapper{
      margin-top: var(--size-6);
      margin-right: 0;
      width: 100%;
    }

    .productImagesWrapper{
      width: 100%;
      position: static;
    }
  

    .productPicsFixed{
      width:100%;
      position: static;
      
    }

    .slider2{
      width: calc(100% - var(--size-10)) !important;
      margin-bottom: var(--size-6);
      margin-top: var(--size-4);
  
  
    }

  

 
  
    .productPicsBot{
     width:100%;
      position: static;
    
    }

   
   
    
  .slide{
 


    width: calc(100% - 40px) !important;
   
   
    margin: 0 var(--size-2) !important;
    transform: translateX(16px) !important;
  }




  .lastSlide{
    padding-right: var(--size-7) !important;
  }


  


  .slide2{
    
    position: relative;
    width: calc(100%  / 3 - var(--size-5)) !important;
    aspect-ratio: 1;
    overflow: hidden;
    margin: var(--size-3) !important;
  }

  .leftArrowDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: var(--size-5);
    height: var(--size-4);
    width:var(--size-4);
    border-radius: 100%;
    padding: var(--size-3);
    
    transform: translateY(-50%);
    cursor: pointer;
  }

  @media (hover: hover) {
  .leftArrowDiv:hover{
    background-color: var(--mini-slider-arrow-bg);
    
  }

   }

  .leftArrowDiv:active{
    background-color: var(--mini-slider-arrow-bg);
  }

  .rightArrowDiv{
    left: auto;
    right: var(--size-5);
    transform: rotate(180deg) translateY(50%);
  }

  .disabledArrow{
    display: none;
  }






 


     

      .zoomImg{
        /* Styles applied to .target when .trigger is hovered */
        display: inline-block !important;
      }
  
      .productImage{
        
        width:100%;
      height: 100%;
      object-fit: cover;
      
    
      }
  
      .grid_container{
        display:none;
      }
  
    

     
  
      
  
  
  
    .productImage2{
      
      width: 100%;
      height: 100%;
      object-fit: cover;
  
    }
  

  }

  @media (max-width: 580px){
    .fixedAddToCartDiv{
      position: fixed;
      bottom: 0;
      background-color: var(--gray-9-elegant);
      height: var(--size-8);
      width: 100%;
     
     
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.3s ease, transform 0.3s ease;
      border-top: 1px solid var(--border-color-strong);
      font-size: var(--font-size-1);
      animation: spawnAddToCart 0.3s ease;
      cursor: pointer;
    z-index: 10;
     
    }



  
  
  
  }


  @keyframes spawnAddToCart {
    0%{
      opacity: 0;
      transform: translateY(100%);
    
    }
    100%{
      opacity: 1;
      transform: translatey(0);
    }
  }
