


.zoomImg{
 
    position: absolute;
    left: 4px;
    top: 4px;
    height: 16px;
    width: 16px;
    padding: 4px;
    opacity: 1;
    border-radius: 100%;
    background-color: var(--gray-9-elegant-op08);
    display:none;
    
  }



  .productPicsWrapper{
   
    position:relative;
    width: var(--size-15-5);
    height: 100%;
    overflow:hidden;
  }
  

  .productPicsFixed{
    
    width: var(--size-15-5);
    position: fixed;
    top: 32px;
  }

  .productPicsBot{
   width:100%;
    position: absolute;
   bottom: 0px;
  }

  .slide{
    position: relative;
    aspect-ratio: 16/9;
    width: var(--size-15-5);
  
   
  }
  


  .productImage{
    width:100%;
  height: 100%;
  object-fit: cover;
  
  }
  .productImage:hover{
    cursor: pointer;
  }

  .productImage:hover + .zoomImg{
    /* Styles applied to .target when .trigger is hovered */
    display: inline-block;
  }

 
















  .slider2Suiter{
    position: relative;
    width: 100%;
  }



  .leftArrowDiv{
    display: none;
 
  }


  
 

  

  

    
 

  .grid_container {
    width: 100%;
    margin-top: var(--size-5);
  
    grid-template-columns: repeat(4, 1fr); /* Two columns */
    grid-gap: 12px; /* Gap between grid items */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
   
    
  }


  .productImage2Div{
    width: calc(25% - 9px);
    aspect-ratio: 16/9;
    overflow: hidden;
  
 
  }

  


  .selectedImage{
    box-sizing: border-box;
    border: 1px solid rgb(204, 67, 101);
    
    
  }


  .fixedAddToCartDiv{
  display: none;
   
  }

 

  @media(max-width: 1280px){

    .productPicsWrapper{
     
      width: var(--size-15-5);
    }
    .productPicsFixed{
      width: var(--size-15-5);
    }
    .productPicsBot{
      width: var(--size-15-5);
    }

  


  }

  
@media(min-width: 980px){
  .slider2Suiter{
    display: none;
  }
}


  @media(max-width: 980px){

    .productPicsFixed{
      width:100%;
      position: static;
      
    }

    .slider2{
      width: calc(100% - var(--size-10)) !important;
      margin-bottom: var(--size-6);
      margin-top: var(--size-4);
  
  
    }

  

 
  
    .productPicsBot{
     width:100%;
      position: static;
    
    }

    .productPicsWrapper{
      width: auto;
    }

 
   
    
  .slide{
 


    width: calc(100% - 40px) !important;
   
   
    margin: 0 4px !important;
    transform: translateX(16px) !important;
  }




  .lastSlide{
    padding-right: 32px !important;
  }


  


  .slide2{
    
    position: relative;
    width: calc(100%  / 3 - 16px) !important;
    aspect-ratio: 16/9;
    overflow: hidden;
    margin: 8px !important;
  }

  .leftArrowDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: var(--size-5);
    height: var(--size-4);
    width:var(--size-4);
    border-radius: 100%;
    padding: var(--size-3);
    
    transform: translateY(-50%);
  }

  @media (hover: hover) {
  .leftArrowDiv:hover{
    background-color: rgb(19, 23, 57);
    cursor: pointer;
  }

   }

  .leftArrowDiv:active{
    background-color: rgb(19, 23, 57);
  }

  .rightArrowDiv{
    left: auto;
    right: var(--size-5);
    transform: rotate(180deg) translateY(50%);
  }

  .disabledArrow{
    display: none;
  }


 .disabledArrow:hover{
  cursor:auto;
 }


  .disabledArrow:active{
    background-color: rgba(55, 59, 61, 0.685);
  }


 


     

      .zoomImg{
        /* Styles applied to .target when .trigger is hovered */
        display: inline-block !important;
      }
  
      .productImage{
        
        width:100%;
      height: 100%;
      object-fit: cover;
      
    
      }
  
      .grid_container{
        display:none;
      }
  
    

     
  
      
  
  
  
    .productImage2{
      
      width: 100%;
      height: 100%;
      object-fit: cover;
  
    }
  

  }

  @media (max-width: 580px){
    .fixedAddToCartDiv{
      position: fixed;
      bottom: 0;
      left: -1px;
      width: 100%;
     
     
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 1px solid gray;
      border-bottom: none;
      opacity: 0;
      transform: translateY(100%);
      transition: opacity 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    z-index: 10;
     
    }

    .fixedAddToCartDivSpawn{
      opacity: 1;
      transform: translatey(0);
    }

  
    .fixedAddToCart{
      height: var(--size-8);
      width: 100%;
      max-width: var(--size-15);
  
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: var(--gray-9-elegant);
    
      border: none;
      border-radius: 0;
     
    }
  
    .fixedAddToCart:hover{
      cursor: pointer;
    }
  }

