.ratingInfoWrapper{
  position: absolute;
  top: 40px;
  left: 15px;
  width: var(--size-14);
 
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 9;
  transform-origin: top center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-24px) scale(0.6);
  pointer-events: none;
}

.ratingInfoWrapper:focus{
   
     
  outline: none;


}



.ratingInfo{
   
    display: flex;
    flex-direction: column;
    align-items: center;
   
    width: var(--size-14);
    background-color: rgb(17, 20, 16);
    border-radius: 4px;
    padding: 24px 16px;
   
  }








  


  .ratingTitle{
    display: flex;
    align-items: center;
    
  }

  .ratingSpan{
    text-align: center;
    font-size: var(--font-size-7);
    margin-left: 8px;
  }

  .ratingMetric{
    height: 16px;
    width: 100%;
    padding-bottom: 1px;
    margin-top: 16px;
   
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .percentRatingWrapper{
    height: var(--size-4);
    flex-grow: 1;
    background-color: rgb(30, 51, 59);
    margin-top: 1px;
    margin-left: 4px;
    margin-right: 16px;
  }
  .percentageRatingDiv{
    height: 100%;
    width: 0;
    background-color: rgb(116, 145, 147);
    transition: width 0.5s ease;
  }

  .rateNumber{
    width: 34px;
  }


  @media (min-width: 480px){
    .ratingInfo{
    max-height: none !important;
    }


    .ratingInfoOpen{
      opacity: 1;
      transform: translateY(0) scale(1);
    }

  }






  @media (max-width: 480px)  {
    .ratingInfo{
       
        width: calc(100% - 42px);
        margin-top: var(--size-3);
        margin-bottom: var(--size-4);
       
      
    }

    .ratingInfoWrapper{
      position: static;
      transition: opacity 0.3s ease, transform 0.3s ease, max-height 0.3s ease;
      opacity: 0;
      transform: translateY(-16px);
      max-height: 0;
      overflow: hidden;
    }

  
    .ratingInfoOpenManualClass{
      
      opacity: 1;
      transform: translateY(0);
      
    }



  



  }

 