

.saleInfoDiv{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.saleInfoTitle{
    font-size: var(--font-size-7);
    font-weight: 400;
    margin-top: var(--size-3);
}

.saleInfoSubTitle{
    font-size: var(--font-size-6);
    font-weight: 400;
    margin-top: var(--size-3);
    align-self: flex-start;
}

.saleStats{
    width: 100%;
    margin-top: var(--size-3);
    margin-bottom: var(--size-7);
    padding: var(--size-2) var(--size-4);
    box-sizing: border-box;
    border: 1px solid var(--border-color-strong);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.saleStat{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saleStat h2, .statName{
    flex:1;
    display: flex;
    justify-content: center;
    margin: var(--size-3) 0;
}

.pickPeriod{

}

.finalResult{

}

.datePickerWrapper{
    flex:1;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    margin: var(--size-3) 0;
}

.datePicker{
    background-color: black !important;
 
}

.dateRangeLabel{
    margin-left: var(--size-1);
    font-size: var(--font-size-3);
    font-weight: 400;
}

.dateInput{
    color: var(--high-contrast-light-txt-color);
    background-color: black ;
    padding: var(--size-2);
    margin: var(--size-3) 0;
    border: 1px solid var(--border-color-strong);
}


.lineStatsWrapper{
    height: var(--size-13);
    width: 100%;
    margin-top: var(--size-7);
    margin-bottom: var(--size-7);
    z-index: 10;
}