.countrySelectStyle{
    width: 100%;
    height: 46px;
    background-color: var(--input-color);
    padding: 0 var(--size-2);
    color: var(--checkout-input-placeholder);
    opacity: 0;
    /* box-shadow: 0 0 4px #749ac2; */
    border-radius: 2px;
    border: solid 1px var(--checkout-input-border-color);
    box-sizing: border-box;
    appearance: none; /* Remove default arrow in some browsers */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    cursor: pointer;
    font-size: var(--font-size-2);
  }

  .countryFocused{
   
      outline: none !important;
     border:none;
    box-shadow: 0 0 6px var(--input-box-shadow-color) !important;
   
  }

  .arrowDown{
    position:absolute;
    top: calc(50% - var(--size-2));
    align-self: flex-end;
    transform: rotate(90deg);
    margin-right: var(--size-3);
  }

 

  .countryColoredPlaceholder{ color: var(--high-contrast-light-txt-color);}


  .countrySelectStyle option{
    color: var(--light-txt-color);
  }


  .form_group {
    position: relative;
    width: 100%;
    border-radius: 2px;
    background-color: var(--input-color);
    border: solid 1px var(--checkout-input-border-color);
    margin-left: var(--size-3);
    margin-right: var(--size-3);
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }
    
  
    .form_group:focus-within {
      /* Define the styles for the parent when any child is focused */
      
    }

    


    .input_error{
      border: none;
      box-shadow: 0 0 4px var(--error-box-shadow-color);
    }
    

    .label{
      color: var(--checkout-input-placeholder);
      position: absolute;
      left: var(--size-3);
      top: calc(50% - var(--size-3));
      transition: all 0.3s ease;
      pointer-events: none;
      opacity: 0.7;
    }

    .labelDown{
      opacity: 0.9;
      top: 7px;
      font-size: var(--font-size-1);
    }

    .countryNameLabel{
      color: var(--high-contrast-light-txt-color);
      position: absolute;
      left: var(--size-3);
      top: 23px;
     
      font-size: var(--font-size-2);
      pointer-events: none;
      
      opacity: 0;
      transition: all 0.21s ease;
      transition-delay: 0.09s;
    }

    .countryNameLabelEnabled{
      opacity: 1;
    }

   


  

    @media (max-width: 980px)  {

        .form_group{
          margin-bottom: var(--size-4);
          margin-left: 0;
          margin-right: 0;
        }
      
      
       
      }
