.campaignInput{
    color: rgb(225, 236, 238);
    background-color: rgb(15, 15, 14);
    min-width: var(--size-14);
    width: 100%;
    align-self: flex-start;
    box-sizing: border-box;
    padding: 8px 8px;
    font-size: var(--font-size-5);
    line-height: var(--size-7);
   margin-bottom: var(--size-6);
   /* border: 1px solid gray; */
   border: none;
 
   border-radius: 8px;
   outline: none;
}

.campaignInput:focus{
    border: 1px solid #4fabe0;
    box-shadow: 0 0 8px #4fabe0;
}

