.ordersMainDiv{
    width:100%;
    display: flex;
    flex-direction: column;
   align-items: center;
}

.titleDiv{
    position:relative;
    width: 100%;
    max-width: var(--size-18);
    display: flex;
    flex-direction: row;
    justify-content: center;
}


