
.cardMainDiv{
    position: relative;
    color: rgb(225, 236, 238);
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    margin-top: var(--size-9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(143, 151, 156);
    border-radius: 8px;
    padding: 32px;
}

.cardMainDivDeleted{
    border: 2px solid red;
    box-shadow: 0 0 6px #5e550a;
}




.identifier{
    height: 64px;
    width: auto;
    padding: 2px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    font-weight: 500;
    color: rgb(184, 189, 182);
    margin: var(--size-4) var(--size-5);
  
    box-shadow: 0 0 4px rgb(60, 119, 85);
    border-radius: 8px;
}



.reviewEditButton{
    margin: var(--size-4) var(--size-5);
    margin-top: 32px;
    color: white;
    background-color: transparent;
    padding: var(--size-3) var(--size-6);
    border-radius: 2px;
    border: 1px solid gray;
    cursor: pointer;
    user-select: none;
}

.deleteReviewButton{
    color: rgba(255, 255, 255, 0.845);
    border: 1px solid rgb(49, 29, 29);
}




.headDiv{
    height: auto;
    width:100%;
    display: flex;
    justify-content: space-between;
}



.textArea{
    color: rgb(225, 236, 238);
    background-color: rgb(15, 15, 14);
    min-height: 96px;
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
    font-size: var(--font-size-5);
    line-height: var(--size-7);
    padding-bottom: 128px;
    border-radius: 8px;
}


.swiperDiv{
 position:relative;   
}

.swiperDiv input{
    border: 1px solid rgba(169, 175, 184, 0.678);
   }

.swiperLabelCurrentId{
    position: absolute;
    top:-64px;
    left:2px;
    font-size: var(--font-size-8);
    color: rgb(134, 149, 180);
}

.swiperLabelCurrentId span{
    font-size: var(--font-size-7);
    opacity: 0.18;
    color:white;
}

.swiperLabelDescription{
    position: absolute;
    top:-20px;
    left:2px;
    font-size: var(--font-size-2);
    opacity: 0.5;
}

.textAreaName{
    color: rgb(225, 236, 238);
    background-color: rgb(15, 15, 14);
    
    width: auto;
    align-self: flex-start;
    box-sizing: border-box;
    padding: 8px 24px;
    font-size: var(--font-size-5);
    line-height: var(--size-7);
   margin-bottom: 32px;
   border-radius: 8px;
}


.imagesDiv{
    height: auto;
    width: calc(100% + 16px);
    margin-top: 4px;
    margin-left: -16px;
    padding-right: 16px;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-wrap: wrap;
   
}




.imagesDiv *{
    margin-bottom:24px;
    margin-left: 16px;
}

.addImage{
    margin-bottom:24px;
    margin-left: 32px;
    align-self: center;
    border-radius: 100%;
}

.addImage:hover{
    cursor: pointer;
}



.deleteImageInstruction{
    align-self: flex-start;
    margin-top: 24px;
}

.savedImage{
    position: absolute;
    bottom:6px;
    right:6px;
    

}