.full_screen_container {
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: var(--gray-9-elegant);
 
    display: flex;
    justify-content: center;
    align-items: center;
   
    animation: summonFullImgDiv 0.3s ease;
    z-index: 12;
  }

  .spaceController{
   
    position:relative;
      display: flex;
      justify-content: center;
align-items: center;  
 
    height: auto;
    width:100%;
   

 
 
  }
  
  .closeSuiter{
    background-color: rgba(45, 95, 145, 0.604);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: var(--size-8);
    display: flex;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
    box-sizing: border-box;
   
    z-index: 11;
    
  }

  .navActive{
    animation: spawnNav 0.2s ease forwards;
  }

  .navInactive{
    
    animation: killNav 0.2s ease forwards;
  }

  @media(hover:hover){
    .navActive{
      animation: spawnNav 0.3s ease forwards;
    }
  
    .navInactive{
      
      animation: killNav 0.3s ease forwards;
    }
  }
 
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 16px;
    font-size: var(--font-size-4);
    font-weight: 500;
  }

  .zoomButton{
    height: 24px;
    width:24px;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 12px;
  }

  .close_button {
   
    height: 24px;
    width:24px;
    background-color: transparent;
  
    border-radius: 100%;
   
    font-size: var(--font-size-4);
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
   
  }


  .leftArrow{
    position: absolute;
    top: 50%;
    left: 16px;
    height: 12px;
    width: 12px;
    background-color: rgba(74, 94, 101, 0.501);
    padding: 8px;
    border-radius: 4px;
    transform: translateY(-50%);
    z-index: 8;
    cursor: pointer;
  }

  @media (hover: hover) {
    .leftArrow:hover{
      background-color: rgba(48, 62, 68, 0.501);
    }
   }


  .leftArrow:active{
    background-color: rgba(113, 154, 170, 0.526);
  }

  .rightArrow{
    position: absolute;
    top: 50%;
    right: 16px;
    height: 12px;
    width: 12px;
    background-color: rgba(74, 94, 101, 0.501);
    padding: 8px;
    border-radius: 4px;
    z-index: 8;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
  }

  @media (hover: hover) {
    .rightArrow:hover{
      background-color: rgba(48, 62, 68, 0.501);
    }
   }

  .rightArrow:active{
    background-color: rgba(113, 154, 170, 0.526);
  }

 

 



  



  .productImageDiv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - var(--size-8));
    height: calc(100svh - var(--size-8));
      touch-action: pan-y;
      cursor: zoom-in;
      margin-top: var(--size-8);
    
  }

  .productImage{
 
 
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
 
    transition: transform 0.3s ease-in-out;
   
  }

  .grabCursor{
   
    cursor: grab;

  }

  .grabbing{
    cursor: grabbing;
  }


@media(max-width: 1280px){
  .leftArrow{
    left: 8px;
   
  }
  .rightArrow{
    right: 8px;
  }
}


@media(max-width: 980px){
  .leftArrow{
    left: 4px;
  }
  .rightArrow{
    right: 4px;
  }
  .zoomButton{
   
    margin-right: 8px;
  }

 




}

@media(max-width: 600px){
  .leftArrow{
    left: 2px;
  }
  .rightArrow{
    right: 2px;
  }
}
  
@keyframes spawnNav {
  0% {
    visibility: hidden;
    opacity: 0;
  
  }


  
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes killNav{
  0% {
    visibility: visible;
    opacity: 1;
  }


  
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


@keyframes summonFullImgDiv{
  0% {

   transform: translate(-50%, -50%) rotate3d(1, 0, 0, -90deg);

  }


  
  100% {
    transform: translateX(0);
  }
}




