.full_screen_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: rgb(0, 0, 0);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow-y:scroll;
    z-index: 7;
  }

  .spaceController{
      display: flex;
align-items: center;  
    position:relative;
    height:fit-content;
    min-height: 100%;
    width:100%;
   box-sizing: border-box;
    padding-top: var(--size-9);
    
  }
  
  .closeSuiter{
    background-color: rgba(56, 87, 136, 0.5);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: var(--size-9);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 11;
  }
 
  .close_button {
   
    height: 24px;
    width:24px;
    color:rgb(133, 153, 143);
    background-color: transparent;
    margin-right: 32px;
    border-radius: 100%;
    border: 1px solid rgb(142, 66, 66);
    font-size: var(--font-size-4);
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    z-index: 8;
  }


  .aliceSuiter{
   
    position: relative;
    width: 100%;
    
    z-index: 10;
    overflow: hidden;
 
  }

  



  .productImageDiv{
    width: 100vw;
    height: calc(100vh - var(--size-9));
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16/9;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
  }

  .productImage{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
   
  }




  