

.subscribersWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}


.subscribersMain{
   
    width:100%;
    max-width: var(--size-18);
    margin-top: var(--size-9);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    box-sizing: border-box;
    
    border: 1px solid var(--border-color-strong);
   
}

.subscribersMain > :last-child{
    border: none !important;
}

.subscribersRowWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color-strong);
    
}

.subscribersRow{
    flex:1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.identifier{
    height: 100%;
    width: var(--size-10);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   padding: var(--size-3);

   border-right: 1px solid var(--border-color-strong);
}

.emailP{
    
    padding: var(--size-3) var(--size-5);
    font-size: var(--font-size-5);
}