.toolbar {
    width: 80%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--size-2);
    margin-top: var(--size-9);
    margin-bottom: var(--size-9);
    contain: content;
  
  }

  .toolbarBorder{
    border: 1px solid var(--border-color-strong);
  }
  
  /* #030a08 */
  /* Mozda ovde staviti max width ili nesto */
  .title {
  
    margin-top: 0;
    margin-bottom: var(--size-8);
  }
  

  
  .mainGridStyle {
    flex-wrap: wrap;
    background-color: transparent;
    width:100%;
    display: flex;
    justify-content: flex-start;
    
 
    
  }
  /* #030a08 */
 
  .viewAllLink {
    height: var(--size-8);
    width: var(--size-11-5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  var(--size-4);
   
    font-size: 28px;
    padding: 0;
    color: gray;
    background-color: transparent;
    border: solid var(--border-color-strong) 1px;
    border-radius: var(--size-2);
    text-decoration: none;
  }




  @media (max-width: 980px)  {
    .toolbar{
      width: calc(100% - var(--size-11));
    }
    
  }

 
  
  @media (max-width: 600px)  {
    .toolbar{
      width: calc(100% - var(--size-8));
    }
  
  }

    
  @media (max-width: 480px)  {
    .toolbar{
      width: calc(100% - 40px);
    }
  
  }