.mainDiv{
    position: relative;
    color: rgb(225, 236, 238);
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid rgb(143, 151, 156); */
    border-radius: 8px;
    padding: 32px;
    padding-top: 0;
}

.campaignTypeSelect{
    align-self: flex-start;
    color: white;
    background-color: transparent;

    margin-bottom: var(--size-6);
  
    padding: var(--size-3) var(--size-6);
   
    border-radius: 2px;
    border: 1px solid gray;
    cursor: pointer;
    user-select: none;
  
}

.campaignTypeSelect option{
    background-color: var(--admin-campaign-type-options-bg);
    margin: 40px;
}



.campaignInput{
    color: rgb(225, 236, 238);
    background-color: var(--email-input-bg);
    min-width: var(--size-14);
    width: 100%;
    align-self: flex-start;
    box-sizing: border-box;
    padding: 8px 8px;
    font-size: var(--font-size-5);
    line-height: var(--size-7);
   margin-bottom: var(--size-6);
   /* border: 1px solid gray; */
   border: none;
 
   border-radius: 8px;
   outline: none;
}

.campaignInput:focus{
    border: 1px solid #4fabe0;
    box-shadow: 0 0 8px #4fabe0;
}



.saveCampaign{
    
    margin: var(--size-4) var(--size-5);
    margin-top: var(--size-7);
    color: white;
    background-color: transparent;
    padding: var(--size-3) var(--size-6);
    border-radius: 2px;
    border: 1px solid rgb(22, 168, 51);
    cursor: pointer;
    user-select: none;
}
