

.mainDiv{
  display: flex;
  flex-direction: column;
    align-items: center;
  justify-content: center;
  padding-top: var(--size-7); 
}

.collectionInfo{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--size-7);
  background-color: rgb(18, 25, 39);
  box-sizing: border-box;
}

.collectionName{
  margin-top: 0;
  margin-bottom: var(--size-5);
  font-weight: 500;
}

.collectionDescription{
  margin-bottom: 0;
}

.collectionText{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  max-width: var(--size-15);
  width: calc(50% - var(--size-5));
  box-sizing: border-box;
  padding: var(--size-9);
  padding-left: 0;
  
}

.collectionImageDiv{

  display: flex;
  align-items: center;


  max-width: var(--size-15);
  width: calc(50% - var(--size-5));
}

.collectionImage{

  aspect-ratio: 16/9;
  height: max-content;
 width: 100%;
 object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 980px){
  .collectionInfo{
    padding: var(--size-6);
    width: calc(100% - var(--size-11));
    flex-direction: column;
    align-items: center;
   
  }

  .collectionImageDiv{

    display: flex;
    align-items: center;
  
    padding: var(--size-5);
    max-width: none;
    width: 100%;
  }

  .collectionText{
  
    padding: var(--size-5);
    max-width: none;
    width: 100%;
  }


}

@media (max-width: 756px){
  .collectionInfo{
    padding: var(--size-6);
    width: calc(100% - var(--size-11));

  }

}


@media (max-width: 600px){
  .collectionInfo{
    padding: var(--size-5);
    width: calc(100% - 40px);

  }

}