
.cardMainDiv{
   
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    margin-top: var(--size-9);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(143, 151, 156);
    border-radius: 2px;
    padding: 0 var(--size-5);
    
}

.cardRow{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid gray;
}

.infoRowDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: var(--size-3) var(--size-5);
  
}
.cardRowNoBorder{
    border: none;
}

.rowTitle{
    text-align: start;
    width: var(--size-11-5);
    
    margin: 0;
    padding: var(--size-5) var(--size-5);
    padding-left: var(--size-1);
    border-right: 1px solid red;
    font-size: var(--font-size-7);
    font-weight: 500;
    opacity: 0.5;
}

.infoPair{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.infoPair > :first-child{
    margin: 0;
    opacity: 0.5;
    font-size: var(--font-size-1);
}

.infoPair *{
    margin-top: var(--size-1);
    font-size: var(--font-size-5);

}


.identifier{
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 2px 8px;
    font-size: var(--font-size-6);
    color: rgb(184, 189, 182);
    margin: var(--size-4) var(--size-5);
    border-radius: 2px;
    border: 1px solid gray;
    opacity: 0.5;
}

.orderId{
    opacity: 0.5;
}

.itemsRow{
    height: auto;
    min-height: var(--size-10);
}

.itemsMiniRow{
    
    margin: var(--size-3) 0;
    padding-right: var(--size-3);
    align-self: flex-start;
}

.itemInfoRow{
    margin-left: var(--size-7);
    margin-bottom: var(--size-3);
    border-bottom: 1px solid rgb(105, 79, 12);
    padding: 0 var(--size-1);
   
   
}

.itemNumber{
    opacity: 0.5;
    font-size: var(--font-size-5);
}

.transactionInfoDiv{
    justify-content: stretch;
}

.transactionInfoDivCovered{
    padding-right: 0;
}

.transactionCoverableDiv{
    position: relative;
    flex: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  
   
}

.transactionCoverableDivNoDisc{
flex: 2;
}

.transactionCovered{
    height: 100%;
    color: rgba(255, 255, 255, 0.405);
    background-color: rgb(10, 12, 19);
    display: flex;
    justify-content: center;
    font-size: var(--font-size-2);
    font-style: italic;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.pumpTotal{
    flex:1;
}

.shrinkTotal{
    flex: 0;
    margin-right: var(--size-4);
}
.shrinkTotal p{
white-space: nowrap;
}



.paymentIdCovered{
    color: rgba(255, 255, 255, 0.848);
    background-color: rgb(12, 17, 50);
    font-size: var(--font-size-2);
    padding: var(--size-2) var(--size-3);
    border-radius: 4px;
    font-style: italic;
    cursor: pointer;
    user-select: none;
}

.packageStatusButton{

   
        color: white;
        background-color: rgb(15, 9, 23);
        padding: var(--size-3) var(--size-6);
        border-radius: 2px;
        border: 1px solid gray;
        cursor: pointer;
        user-select: none;
    


    margin: var(--size-4) 0;
}