


.toolbar {
    width: 80%;
    background-color: #030a08;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--size-2);
    margin-bottom: var(--size-9);
    margin-top: var(--size-7);
  }
  
  
  
  .title {
    margin-bottom: var(--size-7);
    margin-top: var(--size-7);
  }
  

  
  .mainGridStyle {
    flex-wrap: wrap;
    background-color: #030a08;
    width:100%;
    display: flex;
    justify-content:flex-start;
    
 
    
  }



  .root {
    /* maxWidth: 345, original width style */
    width: 33.33% ;
    background-color: #030a08;
    color: #f5f5f5;
    box-sizing: border-box;
    margin-bottom:  var(--size-7);
    padding-left: var(--size-7);
    padding-right: var(--size-7);
    border-radius: var(--size-2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  
  .media {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    transition: all 0.005s ease-in;
    overflow: clip;
    border-radius:  var(--size-2);
    cursor: pointer;
  }
 


  

  


  .cardContentText{
    height: min-content;
    display: flex;
    align-items: flex-end;
    margin: var(--size-3) var(--size-1);
    margin-top: var(--size-3);
    
    font-size: var(--font-size-6);
    font-weight: 400;
  }

 



  .productImage{
    position:absolute;
    top:0;
    left: 0;
    height:100%;
    width:100%;
      transform: scale(1);
      transition: none;
      object-fit: cover;
        
  
    scale: 1;
    transition: transform 0.3s ease-in-out;
  

    
    }


    .productImage:hover{

    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  

    }
  
   
  


  @media(max-width: 1680px){
    .root{
      padding-left: var(--size-6);
    padding-right: var(--size-6);
    }

    
  }

  @media(max-width: 1220px){
    .root{
      padding-left: var(--size-5);
      padding-right: var(--size-5);
    }

  

  .cardContentText{
    font-size: var(--font-size-5);
  }
 

  }



  
  


  @media(max-width: 900px){
    .root{
      width: 50%;
      padding-left: var(--size-6);
      padding-right: var(--size-6);
    }

  .cardContentText{
    font-size: var(--font-size-4);
  }

  
  }

  



 





  @media (max-width: 980px)  {
    .toolbar{
      width: calc(100% - var(--size-11));
    }
    
  }

 
  
  @media (max-width: 600px)  {
    .toolbar{
      width: calc(100% - var(--size-8));
    }
  
  }





  @media(max-width: 600px){
    .root{
      width: 100%;
      padding-left: var(--size-4);
      padding-right: var(--size-4);
    }

 
  
  .cardContentText{
    font-size: var(--font-size-6);
  }

  }


  

  




  @media(max-width: 320px){
   

  
  .cardContentText{
    font-size: var(--font-size-5);
  }

  }
