.appBar {
  position:relative;
  width:100%;
  max-width: 100%;
  
  height: var(--size-9);
 
    box-shadow: none;
    background-color: var(--gray-9-elegant);
    color: white;
    border-bottom: 1px solid rgb(72, 69, 85);
    transition: height 0.3s ease, opacity 0.3s ease;
    z-index: 5;
   
  }


  .substituteDiv{
    display: none;
    width:100%;
    max-width: 100%;
    height: var(--size-9);
    background-color: var(--gray-9-elegant);
  }


 


  .toolbarDiv {
    height:100%;
    margin: 0 var(--size-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .disableNav{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 0;
    opacity:0.5;
    z-index: 6;
  }
  
  .title {
    color: var(--blue-2);
    align-items: center;
    display: flex;
    text-decoration: none;
    transition: transform 0.08s ease-in;
    font-size: var(--font-size-5);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  
    
  }
 
  
  .title:hover {
    transform: scale(1.1);
  }
  
  .title:active {
    transform: scale(1);
  }

  .logoLink{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--size-2) 0;
  }
  
 
  
  .image {
   
    border-radius: 100%;
    margin-right: var(--size-3);

  }

 
  

 
.grow{
  width: max-content;
  position:absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}


.growAlt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}
  
 
  

  
  .menuIconDiv{
    position:relative;
    height:24px;
    width: 24px;
    
    margin:8px;
    margin-left: 0px;
  }

  .menuIconDiv:hover{
    
    cursor: pointer;
  }


  
 

  
  
  
  
  
 

  
  

 
  
 
  
  .linkStyle {
    color: var(--red-2);
    text-decoration: none;
    transition: transform 0.08s ease-in;
    font-size: var(--font-size-3);
    padding-left: var(--size-4);
    padding-right: var(--size-4);
  }
  
  .linkStyle:hover {
    transform: scale(1.1);
  }
  
  .linkStyle:active {
    transform: scale(1);
  }
  
  
  
  .currentLink {
    color: var(--blue-1);
  }

  .subMenuPortal{
    
    
    user-select: none;
    cursor: pointer;
  }
  
  
  
  .subMenu{
    position: absolute;
    top: calc(100% + 8px);
    left: 204px;
    background-color: var(--gray-9-elegant);
    border: 1px solid gray;
    width: var(--size-11-5);
    padding: var(--size-3) 0;
    
  }

  .subMenuFaq{
    left: 312px;
  }

  .subMenuTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .subMenuArrow{
 
    margin-left: 8px;
    transform: rotate(-90deg);
  }

  .subMenuArrowOpen{ transform: rotate(90deg);}


  .menuItemDiv{
    display: flex;
    justify-content: flex-start;
   padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    cursor: pointer;

    color: var(--red-2);
    text-decoration: none;
    
    padding-left: var(--size-4);
    padding-right: var(--size-4);

  }

  .menuItemDiv:hover{
    background-color: rgb(13, 24, 27);
  }

  .menuItemDiv p{
    font-size: var(--font-size-2);
  }

  .currentLinkMobile {
    color: var(--blue-1);
    background-color: rgb(13, 24, 27);
  }
  

  
  
  .search_bar{
    height:var(--size-5);
    width:var(--size-9);
    background-color: red;
  }

  .cartStyle {
    position: relative;
    height: 32px;
    width: 32px;
    color: #888b88;
    transition: transform 0.1s ease-in;
    margin: 8px;
    margin-top:8px;
  }
  
  .cartStyle:hover {
    transform: scale(1.1);
  }
  
  .cartStyle:active {
    transform: scale(1);
  }

  .badgeDiv{
    width:20px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(97, 26, 97);
    top: -6px;
    right: -6px;
    border-radius: 100%;
    font-size: var(--font-size-2);
  }
  
  .bagImg{
    position: absolute;
   
  }
  

  .rightOptions{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .smallMenuImage{
    position: absolute;
    height: 100%;
    width:100%;
  }


 


    .appBarFixed{
      position:fixed;
      top:0;
      min-height: 0;
      
      max-height:  var(--size-9);
      
     
    }

    .appBarMaterialize{
      max-height: 0;
      animation: expandHeight 0.18s ease forwards;
    }

    .toolbarDiv {
    
      margin: 0 var(--size-5);
    }

    .substituteDiv{
      
      display: block;
    }

    .pcDiv{
      display: block;
    }

    @media(min-width: 980px){
      .menuIconDiv{
        display: none;
      }

      .logoLink{
        margin-left: 8px;
      }

    }
  

   @media(max-width: 980px){
    .grow{
      display: none;
    }
   
   }


  @media(max-width: 500px){
    .growAlt{
      z-index: 1;
      }
    }

 

    @keyframes expandHeight {
      from {
        overflow: hidden;
        max-height: 0;
      }
      to {
        overflow:visible;
        max-height:  var(--size-9); /* Set your desired max height */
      }
    }