.appBar {
  position:relative;
  width:100%;
  max-width: 100vw;
  height: var(--size-9);
 
    box-shadow: none;
    background-color: var(--gray-9-elegant);
    color: white;
    border-bottom: 1px solid rgb(72, 69, 85);
    z-index: 5;
   
  }

  .substituteDiv{
    display: none;
    width:100%;
    max-width: 100vw;
    height: var(--size-9);
    background-color: var(--gray-9-elegant);
  }


 


  .toolbarDiv {
    height:100%;
    margin: 0 var(--size-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .titleDiv{
    margin-left: 8px;
    text-decoration: none;
    
  }
  
  .title {
    color: var(--blue-2);
    align-items: center;
    display: flex;
    text-decoration: none;
    transition: transform 0.08s ease-in;
    font-size: var(--font-size-5);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: var(--size-2) 0;
  }
 
  
  .title:hover {
    transform: scale(1.1);
  }
  
  .title:active {
    transform: scale(1);
  }
  
 
  
  .image {
    height: var(--size-6);
    width: var(--size-6);
    margin-right: var(--size-3);
    height: var(--size-6);
  }

 
  

 
.grow{
  position:absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}


.growAlt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}
  
 
  

  
  .menuIconDiv{
    position:relative;
    height:24px;
    width: 24px;
    
    margin:8px;
    margin-left: 0px;
  }

  .menuIconDiv:hover{
    
    cursor: pointer;
  }


  
 

  
  
  
  
  
 

  
  

 
  
 
  
  .linkStyle {
    color: var(--red-2);
    text-decoration: none;
    transition: transform 0.08s ease-in;
    font-size: var(--font-size-3);
    padding-left: var(--size-4);
    padding-right: var(--size-4);
  }
  
  .linkStyle:hover {
    transform: scale(1.1);
  }
  
  .linkStyle:active {
    transform: scale(1);
  }
  
  
  
  .currentLink {
    color: var(--blue-1);
  }

  .subMenuPortal{
    
    
    user-select: none;
    cursor: pointer;
  }
  
  
  
  .subMenu{
    position: absolute;
    top: calc(100% + 8px);
    left: 204px;
    background-color: var(--gray-9-elegant);
    border: 1px solid gray;
    width: var(--size-11-5);
    padding: var(--size-3) 0;
    
  }

  .subMenuFaq{
    left: 312px;
  }

  .subMenuTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .subMenuArrow{
    height: var(--size-3);
    width:  var(--size-3);
    margin-left: 8px;
    transform: rotate(-90deg);
  }

  .subMenuArrowOpen{ transform: rotate(90deg);}


  .menuItemDiv{
    display: flex;
    justify-content: flex-start;
   padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    cursor: pointer;

    color: var(--red-2);
    text-decoration: none;
    
    padding-left: var(--size-4);
    padding-right: var(--size-4);

  }

  .menuItemDiv:hover{
    background-color: rgb(13, 24, 27);
  }

  .menuItemDiv p{
    font-size: var(--font-size-2);
  }

  .currentLinkMobile {
    color: var(--blue-1);
    background-color: rgb(13, 24, 27);
  }
  

  
  
  .search_bar{
    height:var(--size-5);
    width:var(--size-9);
    background-color: red;
  }

  .cartStyle {
    position: relative;
    height: 32px;
    width: 32px;
    color: #888b88;
    transition: transform 0.1s ease-in;
    margin: 8px;
    margin-top:8px;
  }
  
  .cartStyle:hover {
    transform: scale(1.1);
  }
  
  .cartStyle:active {
    transform: scale(1);
  }

  .badgeDiv{
    width:20px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(97, 26, 97);
    top: -6px;
    right: -6px;
    border-radius: 100%;
    font-size: var(--font-size-2);
  }
  
  .bagImg{
    position: absolute;
    height: 100%;
    width: 100%;
  }
  

  .rightOptions{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .smallMenuImage{
    position: absolute;
    height: 100%;
    width:100%;
  }


 

  @media(max-width: 600px){
    .appBarFixed{
      position:fixed;
      top:0;
    }

    .toolbarDiv {
    
      margin: 0 var(--size-5);
    }

    .substituteDiv{
      display: block;
    }
  

  }


  @media(max-width: 480px){
    .growAlt{
      z-index: 1;
      }
    }

 
