.emailContentDiv{
    width: 100%;
    
    padding-bottom: var(--size-8);
    padding-top: var(--size-8);
    border-bottom: 1px solid green;
}


.idDiv{
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
   
}

.currentId{
   
    font-size: var(--font-size-8);
    color: rgb(134, 149, 180);
    margin-left: var(--size-2);
    margin-right: var(--size-2);
}

.currentIdText{
    font-size: var(--font-size-7);
    opacity: 0.18;
    color: var(--high-contrast-light-txt-color);
}


.titleInput{

}


.titleInput{
    color: rgb(225, 236, 238);
    background-color: var(--email-input-bg);
    min-width: var(--size-14);
    width: 100%;
    align-self: flex-start;
    box-sizing: border-box;
    padding: 8px 8px;
    font-size: var(--font-size-5);
    line-height: var(--size-7);
   margin-bottom: var(--size-6);
   /* border: 1px solid gray; */
   border: none;
 
   border-radius: 8px;
   outline: none;
}

.titleInput:focus{
    border: 1px solid #4fabe0;
    box-shadow: 0 0 8px #4fabe0;
}




.textArea{
    color: rgb(225, 236, 238);
    background-color: var(--email-input-bg);
    max-height: var(--size-14);
    min-height: var(--size-12);
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
    font-size: var(--font-size-5);
    line-height: var(--size-7);
  
    border-radius: 8px;
    border: none;
    outline: none;
    resize: none;
}

/* .textArea:focus{
    border: 1px solid #4fabe0;
    box-shadow: 0 0 8px #4fabe0;
} */

.previewButton{
    margin: var(--size-4) var(--size-5);
    margin-top: 32px;
    color: var(--high-contrast-light-txt-color);
    background-color: transparent;
    padding: var(--size-3) var(--size-6);
    border-radius: 2px;
    border: 1px solid gray;
    cursor: pointer;
    user-select: none;
}






.previewContent{
    position: relative;
    color: rgb(225, 236, 238);
    width:100%;
    max-width: var(--size-18);
    min-height: var(--size-13);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(143, 151, 156);
    border-radius: 8px;
    margin-top: var(--size-5);
    box-sizing: border-box;
    padding: 32px;
}
