
.paypalButton{
    position: relative;
    height: var(--size-8);
    width: 100% !important;
    /* box-shadow: 0 0 2px #704c96; */
    
    border-radius: 4px;
}



.instantPaypalButton{
    height: var(--size-8) !important;
   
  
   
  
    
}

/* margin-top: var(--size-6);#2C2E2F
margin-bottom: 8px; */

.paypalError{
    color: var(--error-color);
     margin-top: var(--size-2);
      margin-bottom: var(--size-2);
    margin-left: var(--size-1);
    font-size: var(--font-size-2);
}


@media (max-width: 980px){
    .paypalButton{
  

       
        margin-left: 0;
        margin-right:0;
    }


    .paypalError{
        margin-left: 0;
    }

}