
.paypalButton{
    margin-left: var(--size-3);
    margin-right: var(--size-3);
}

.paypalError{
    color: orange;
     margin-top: var(--size-2);
      margin-bottom: var(--size-5);
    margin-left: var(--size-3);
}


@media (max-width: 980px){
    .paypalButton{
  

       
        margin-left: 0;
        margin-right:0;
    }


    .paypalError{
        margin-left: 0;
    }

}