






  .mainMenuCard {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    max-width: var(--size-13);
    width:var(--size-13);
    background-color: var(--gray-9-elegant);
    border-top-right-radius: var(--size-3);
    border-bottom-right-radius: var(--size-3);
    display: flex;
    flex-direction: column;
    border-right: 1px solid #2e2e31;
    z-index: 1000;
    transform: translateX(0);
     transition: transform 0.5s ease;
     contain: content;
     animation: spawnMobileMenu 0.5s ease;

  }



  .menuClosed{
    transform: translateX(-100%);

  }
  

 
  
  .menuItemsDiv{
    display: flex;
    justify-content: flex-end;
  
   
  }

 
  .menuItem_x_button {

    
    margin-top: var(--size-7);
    margin-bottom: var(--size-5);
    margin-right: var(--size-6);
  

   

    align-self: flex-end;
    cursor: pointer;
  }
  

  .linkStyle {
    color: var(--nav-links-color);
   
    
    
   
    padding: var(--size-4) var(--size-6);

    font-size: var(--font-size-4);
    white-space: nowrap;

    text-decoration: none;
    cursor: pointer;
   
 
  }



 

  .subMenuTitle{
    font-size: var(--font-size-2);
  }



  .subMenuPortal{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subMenuArrow{
   
    transform: rotate(180deg);
  }



  /* background-color: var( --nav-select-search-link-color); */

  

  .subMenuBackArrow{
    margin-right: var(--size-3);
    transform: rotate(0deg);
  }






  
  
  .currentLinkMobile {
    color: var(--navbar-current-link-color);
    background-color: var( --nav-select-search-link-color);
  }
  


 



  @keyframes spawnMobileMenu {
    0% {
     
    transform: translateX(-100%);
    }

 
  
    100% {
      transform: translateX(0);
    }
    
  }