.productImage{
  position:absolute;
  top:0;
  left: 0;
  height:100%;
  width:100%;
    transform: scale(1);
    transition: none;
    object-fit: cover;
  
  }

  .productImage1{
    z-index: 6;
  }


  .sale{
    position: absolute;
    bottom: 6px;
    left: 6px;
    background-color: var(--product-on-sale-bg);
    color: var(--high-contrast-light-txt-color);
    padding: var(--size-2) var(--size-4);
    border-radius: 16px;
    font-size: var(--font-size-1);
    font-weight: 400;
   
    z-index: 7;
  }


@media(min-width: 980px){

  .invisibleImage{
    opacity: 0;
  }
  
  .zoomIn {
    opacity: 1;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .zoomOut{
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }


  .fadeIn {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
}


