  .rightWrapper{
   
    display: flex;
    justify-content: flex-start;
    flex: 1 1 auto;
    min-height: 100vh;
   
    background-color: var(--checkout-order-summery-bg);
    padding-top: var(--size-8);
    box-sizing: border-box;
    border-left: 1px solid var(--border-color-mid);
    justify-self: flex-start;
 
  }

  /* Ako hocu punu polovinu, samo izbaciti  flex: 1 1 auto; i ubaciti   width: 50%; i u checkout_right margin-left: var(--size-6); */
  
  .checkout_right {


    position: sticky;
      
    top: var(--size-8);

    height: min-content;
    width: var(--size-14);
    max-width: var(--size-14-5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-right: var(--size-8);
    margin-left: var(--size-8);
    border-radius: 4px;
    contain:content;
  }


  .title_div{
    display: none;
  }

  

 

  .checkout_right span {
    margin: 0 var(--size-2);
  }
  
 
  




  .showProductsButton{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
  .showProducts{
    display: flex;
    align-items: center;
  }

  .showProductsImage {
    margin-left: var(--size-2);
    transform: rotate(-90deg);
  }

  .productImageDiv{
    height: min-content;
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }



  .productImage{
    height:auto;
    width: var(--size-9);
    aspect-ratio: 1;
    margin-right: var(--size-5);
  
    border-radius: 4px;
    user-select: none;
  }

  .productTitleDiv{
    display: flex;
    flex-direction: column;
  }

  .variant{
    font-weight: 300;
    opacity: 0.7;
  }
  
 
  
  .apply{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-txt-color);
    text-decoration: none;
    height: 40px;
    width:  var(--size-10);
    background-color: var(--apply-coupon-color);
    border-radius: 4px;
    border: 1px solid var(--input-box-shadow-color);
    margin-left: var(--size-3);
    
  }
  
  .applyEnabled{
    cursor: pointer;
  }

  .applyEnabled:hover{
   
    background-color: var(--apply-coupon-hover-color);
  }



  .order_pair{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--size-4) 0;
    font-size: var(--font-size-2);
   
  }

  .discountPairTitle{
    display: flex;
    align-items: center;
    font-size: var(--font-size-2);
    margin: var(--size-4) 0;
   
 
  }
  

  .discountPair{
    opacity: 0.5;
  }


  .mainCouponCode {
    
    background-color: var(--coupon-code-bg);
    width:min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-3) var(--size-2);
    margin-top: var(--size-4);
    margin-bottom: 0;
    border-radius: 4px;
  }

  
  .mainDiscountImg{
    opacity: 0.7;
    margin-left: var(--size-2);
    margin-right: var(--size-1);
  }

  .discountCancelImage{
    margin-left: var(--size-2);
    margin-right: var(--size-1);
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.2s ease;
  }

  .discountCancelImage:hover{
    opacity: 1;
  }


  .discountCodeDiv{
    display: flex;
    align-items: center;
  }

  .discountImg{
    margin-left: var(--size-2);
    margin-right: var(--size-1);
  }

.discountPrice{

  margin:0;
  
}



  
   
 
  
  .coupon_code{
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border:none;
    
    margin-bottom: var(--size-6);
    overflow:visible;
   
  
  }
  
  .form_group {
    position: relative;
    
    
  
    margin-right: var(--size-3);
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

  .coupon_code_input {
    width: 100%;
      height: 40px;
      background-color: var(--input-color);
      color: var(--high-contrast-light-txt-color);
      padding: var(--size-3);
      padding-top: 22px;
      border-radius: 2px;
      align-self: center;
      box-sizing: border-box;
      border: solid 1px var(--checkout-input-border-color);
    
      font-size: var(--font-size-2);
  }

  .coupon_code_input_error{
    box-shadow: 0 0 2px var(--error-box-shadow-color);
   
  }

  .coupon_code_input:focus { 
    outline: none !important;
    border-color: var(--input-box-shadow-color);
    box-shadow: 0 0 6px var(--input-box-shadow-color);
}

.couponError{
  color: var(--error-color);
  padding-top: var(--size-2);
  margin-bottom: 0;
  margin-left: var(--size-1) !important;
  font-size: var(--font-size-2);
  
}



.currency{
  opacity: 0.6;
  font-size: var(--font-size-1);
  margin: 0 var(--size-1);
  
}

.totalText{
  font-size: var(--font-size-4);
  font-weight: 600;
}

.total{
  font-size: var(--font-size-4);
  font-weight: 600;
}

.myLabel{
    color: var(--checkout-input-placeholder);
    position: absolute;
    left: var(--size-3);
    top: var(--size-4);
    transition: all 0.3s ease;
    pointer-events: none;
    opacity: 0.7;
  }

  .totalDiscount{
    width:min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--size-1);
    
    margin-bottom: var(--size-4);
  }

  .totalDiscountImg{
    opacity: 1;
    margin-left: var(--size-2);
    margin-right: var(--size-1);
  }

  .totalDiscountSpan{
    white-space: nowrap;
    margin-right: var(--size-1);
    font-size: var(--font-size-3);
    font-weight: 600;
  }


  .coupon_code_input:focus + .myLabel,
  .coupon_code_input:not(:placeholder-shown) + .myLabel {
   
    opacity: 0.9;
  top: 3px;
  font-size: var(--size-4);
  
  }
  




 

 

















   
  
    
   
   
    
   
    
    .emerge {
      /* background-color: #091a29; */
      max-width: var(--size-16);
      width: 100%;
     
      
      
      transform-origin: top;
      transition: all 0.3s ease;
    
    }

   
  
    
  
    @media(min-width:980px){

     
  

   

    
    

      .emerge {
        max-height: none !important;
      }


    }

  @media (max-width: 980px)  {


  
   
   
   .rightWrapper{
    /* background-color: var(--checkout-order-summery-bg-light); */
    background-color:var(--checkout-order-summery-bg-mobile);

    width: 100%;
    min-height: 0;
    padding-top: 0;
    border-left: none;
    justify-content: center;
    margin-bottom: var(--size-6);

   }



    
   
    

   .title_div {
    max-width: var(--size-16);
    height: var(--size-9);
   width: calc(100% - var(--size-11));
    color: var(--summery-light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
    display: flex;


    margin-right: var(--size-6);
    margin-left: var(--size-6);

    box-sizing: border-box;
      
      font-size: var(--font-size-4);
      font-weight: bold;
      cursor: pointer;

   }

   




   

  

   .mobileTitle{
    display: block;
    color: var(--summery-color);
    user-select: none;
    font-size: var(--font-size-4);
    font-weight: 400;
  
  }

 

   .pcTitle{
    display:none
  }

   .arrowImg{
    margin: 0;
    margin-left: var(--size-4);
    transform: rotateY(0deg) rotate(90deg);
    transform-origin: center;
    transition: transform 0.2s ease;
    contain: paint;
    
   }

   .arrowDown{
    transform: rotateY(180deg) rotate(270deg);
    transform-origin: center;
   }

   .mainPriceDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   }

   .mainPriceSub{
    opacity: 0.5;
    font-size: var(--size-4) !important;
    text-decoration: line-through;
   }

   .mainPrice{

    color: var(--summery-light-color);
    
    user-select: none;
    font-size: var(--font-size-4);
    font-weight: 400;

   }

 



   

   

    .checkout_right{
      position: static;
        max-width: none;
      width: 100%;
      margin: 0;
     
    }
   

   

    .emerge {
     
    
      box-sizing: border-box;
      padding: 0 var(--size-9);
      display: flex;
      flex-direction: column;
      max-height: 0;

   

      
      
      overflow-y: hidden;
    }

   
    

   



   
   

  }
  
  @media(max-width:600px){

    
   .underSummeryTitleSegment{

   width: calc(100% - var(--size-8) + var(--size-4));

  }

  .title_div{
      
     width: calc(100% - var(--size-8));
  
     }
  
     .emerge{
     
     padding: 0 var(--size-6);
     }
    

     .productImage{
     
      margin-right: var(--size-3);
     }

    

  }

   





  