

.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interfaceDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--size-9);
}


.magicButton{
    color: var(--high-contrast-light-txt-color);
    background-color: transparent;


    margin-bottom: var(--size-3);
    padding: var(--size-3) var(--size-6);
   
    border-radius: 2px;
    border: 1px solid var(--border-color-strong);
    cursor: pointer;
    user-select: none;
}


.emailLink{
    margin-top: var(--size-3);
}