


.checkout_container {
  background-color: var(--gray-9-elegant);
  width:100%;
  min-height: 100vh;
  height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
   
  }

  .checkout_container h1{
    text-align: left;
  }


  @media (max-width: 980px)  {
    .checkout_container{
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
  }