


.mainWrapper{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

 
    z-index: 200;
}


.mainDiv{
    position: relative;
    background-color: var(--write-review-main-bg);
    height: 100%;
    width: 100%;
    max-height: var(--size-15-5);
    width: min-content;

    display: flex;
    
    border-radius: 12px;
    transform: scale(0);
    transition: transform 0.3s ease;
   

    /* animation: spawnFullScreenReview 0.3s ease forwards; */
    
    
   
}

.spawnFullScreenReview{
    animation: spawnFullScreenReview 0.3s ease forwards;
}

.closeFullScreen{
    position: absolute;
    top: 24px;
    left: 24px;
    height: 32px;
    width: 32px;
  
    box-sizing: border-box;
    padding: var(--size-2);
 
    background-color: rgba(50, 50, 50, 0.7);
    
    border-radius: 6px;
    cursor: pointer;
    z-index: 200;
}

.closeFullScreen:hover{
    opacity: 1;
    background-color: var(--toast-message-bg);
}


.reviewImageDiv{
    height: auto;
    width: var(--size-14-5);
     background-color: var(--gray-9-elegant);
     overflow: hidden;
    
}

.reviewImage{
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
}

.reviewDiv{
    background-color: var(--write-review-main-bg);
    height: 100%;
    width: var(--size-14);
    
    box-sizing: border-box;
    padding: var(--size-7) var(--size-6);
    overflow-y: auto;
}

.authorDiv{

    display:flex;
    justify-content: space-between;

 
    margin-bottom: var(--size-2);
  
}

.verifiedPurchaseDiv{
    opacity: 0.9;
    font-weight: 300;
    font-size: var(--font-size-1);
    display: flex;
    align-items: center;
}

.verifiedImage{
        height: var(--size-5);
        width: var(--size-5);
        margin-right: var(--size-2);
}

.reviewText{
    margin-top: var(--size-6);
}



@media(max-width: 600px){

    .mainWrapper{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-y: auto;
    }

    .mainDiv{

        width: 100%;
        flex-direction: column;

        min-height: 100svh;
        max-height: none;
        height: auto;
     
    }

    .spawnFullScreenReview{
        animation: spawnFullScreenReviewMob 0.3s ease forwards;
    }

    .reviewImageDiv{
      
        height: min-content;
        width: 100%;
    }

    .reviewDiv{
        width: 100%;
        
    }

}

@keyframes spawnFullScreenReview {
    0%{
        transform: scale(0.2);
       
    }

    100%{
        transform: scale(1);
        
    }
}

@keyframes spawnFullScreenReviewMob{
    0% {
     
      transform: translatey(100%);
    }
  
    100% {
     
      transform: translatey(0);
    }
  }