


.expressCheckoutWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.expressCheckoutTitle{

    color:white;

    margin-top: var(--size-2);
    margin-bottom: var(--size-6);
    opacity: 0.7;
    font-size: var(--font-size-3);

}


.expressPaymentsWrapper{
   
    width: 100%;
    display: flex;
    justify-content: space-between;

}


.paymentDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(50% - 8px);
    min-height: var(--size-8);
   

}

.paymentDivFront{
    
    z-index: 2;
    width: 100%;
    min-height: var(--size-8);
  
    border-radius: 4px;
}

.paymentDivBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--size-8);
    background-color: var(--express-checkout-button-bg);
    border-radius: 4px;
    z-index: 1;
}






.expressCheckoutBottomBorder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--size-6);
}

.borderLineDiv{
    width: 100%;
  
    border-bottom: 1px solid rgba(128, 128, 128, 0.503);

}

.borderOrSpan{
    margin:0 var(--size-3);

}

@media (max-width: 980px){
    .expressCheckoutTitle{
    margin-top: 0;
    }
}



@media(max-width: 380px){

    .expressPaymentsWrapper:last-child{
        margin-bottom: var(--size-5) !important;
    }

    .paymentDiv{
        width: 100%;
        margin-bottom: var(--size-3);
    
    }

    .paymentDivLast{
        margin-bottom: 0;
    }


    .expressCheckoutTitle{
        margin-bottom: var(--size-5);
    }

    .expressPaymentsWrapper{
        flex-direction: column;
    }


    .expressCheckoutBottomBorder{
      
        margin-top: var(--size-5);
    }
}






.expressPaymentsWrapperadasdasdasdasdasdsadsadsa {
    display: flex;
    justify-content: space-between;
}

.expressPaymentsWrapperasdasdasdasdasdsadasd > * {
    flex: 1;
    margin-right: calc(4px + 2vw); /* 4px + 2% of the viewport width */
}

.expressPaymentsWrapperadasdasdasdasdasdasda > *:last-child {
    margin-right: 0; /* Remove margin from the last child to prevent extra space */
} 





