.descriptionDiv{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--size-5);
    padding-left:  var(--size-2);
    padding-right:  var(--size-2);
    box-sizing: border-box;
}



.mainDiv{
    display: flex;
    flex-direction: column;
  
    border: 1px solid #b1b1b17a;
    border-bottom: none;
    border-radius: 8px;
    padding: var(--size-2) 0;
}

.getInTouch{
    padding-left:  var(--size-4);
    padding-right:  var(--size-4);
}

.contactInfoDiv{
    width: auto;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: var(--size-3);
    padding-left:  var(--size-4);
    padding-right:  var(--size-4);

}



.contactError{
    color: red;
    
    margin-top:  var(--size-1);
    margin-left: var(--size-1);
    font-family: var(--font-neutral);
}

.contactMessageError{
    margin-left: 6px;
}

.infoDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}



.inputGroup{
    display: flex;
    flex-direction: column;
 
    margin-top: var(--size-2);
   
    margin-bottom: var(--size-3);
}


.inputGroupLabel{
    margin-left: var(--size-1);
    margin-bottom: var(--size-1);
    
    font-family: var(--font-neutral);
}



.contactInput{
    height: 28px;
    width: 100%;
    color: var(--high-contrast-light-txt-color); 
  
    background-color: var(--contact-input-color);
    font-family: var(--font-for-writing);
    font-size: var(--font-size-2);
    border: none;
    border-radius: 4px;
    outline: none;
  
    box-sizing: border-box;
    margin-bottom: 0;
}

.contactInput:focus{
   border: 1px solid   gray;
}



.messageField{
 
   
    display: flex;
    flex-direction: column;
   
    margin: var(--size-5) var(--size-4);
   

    box-sizing: border-box;
    padding-top: var(--size-2);
   
   

    box-sizing: border-box;
    border-radius: 8px;
   
}

.messageField label{
    margin-left: var(--size-1);
    margin-bottom: var(--size-1);
    font-family: var(--font-neutral);
}

.messageTextArea{
    border: none;
    color: var(--high-contrast-light-txt-color); 
    background-color: var(--contact-input-color);
 
   
   
  

    border-radius: 8px;
    box-sizing: border-box;
    font-family: var(--font-for-writing);
    /* font-family: var(--font-neutral); */
    font-size: var(--font-size-2);
    resize: none;
    outline: none;
}

.messageTextArea:focus{
    border: 1px solid   gray;
}

.messageSuccess{
    color: green;
    margin-left: 6px;
}

.sendButton{
   
    width: var(--size-10);
    height: var(--size-7);
    border: none;
    border-radius: 12px;
    color: var(--action-button-txt-color);
    background-color: var(--action-button-bg-color);
  
  
    margin-right: var(--size-4);
    margin-bottom: var(--size-4);
    font-family: var(--font-neutral);
    align-self: flex-end;
    cursor: pointer;
}

.sendButton:hover{
  
    background-color: var(--action-button-bg-color-hover);
    /* background-color: rgb(35, 49, 48); */
 
}

.sendButtonDisabled{
    opacity: 0.7;
    cursor:auto;
}

.sendButtonDisabled:hover{
    background-color: var(--action-button-bg-color);
  
}


.trustIcons{
    display: flex;
    width: 100%;
    max-width: var(--size-15);
}


.trustIcon{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0 var(--size-2);
    margin-top: var(--size-7);
   
}

.trustIconImage{
    height: var(--size-8);
    width: var(--size-8);
}

.trustIcon span{
    margin-top: var(--size-3);
    font-size: var(--font-size-2);
}




@media (max-width: 1080px){
    .descriptionDiv{
       
        margin-bottom: var(--size-7);
    }

  

   
}

@media(max-width: 600px){

    .trustIcon{
        margin-top: var(--size-6);
    }
}



@media( max-width: 370px){

    .trustIcon{
        margin-top: var(--size-5);
    }

    .trustIcon span{
        font-size: var(--font-size-1);
    }
}

@media( max-width: 320px){

    .trustIcon{
        margin-top: var(--size-4);
    }

    .trustIconImage{
        height: 40px;
        width: 40px;
    }

    .trustIcon span{
        margin-top: var(--size-2);
    }
  
}

