.title{
  margin-bottom: var(--size-7);
  margin-top: var(--size-7);
}


.question_div {
  background-color: transparent;
  border: none;
  text-align: left;
  color: white;
  margin-left: 0;
  padding-left: var(--size-2);
  padding-right: var(--size-2);
  padding-top: var(--size-4);
  padding-bottom: var(--size-4);
  border-top: 1px solid #b1b1b1;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-4);
  font-weight: bold;
}

.coverDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDiv {
  color: white;
  width: 50%;
  margin-top: var(--size-6);
 
  flex-direction: column;
  align-items: center;
}

.questions_div{
  display: flex; 
  flex-direction:column;
   color:white;  
   width:50%;
    margin-top: var(--size-6);
    margin-bottom: var(--size-6);
}

.plusStyle {
  padding:0;
  margin: 0;
  transform: rotateY(0deg) rotate(0deg);
  transform-origin: center;
  transition: transform 0.2s;
  align-self: start;
  font-weight: 400;
}

.plusStyleRotate {
  transform: rotateY(0deg) rotate(-45deg);
  transform-origin: center;
}

.question_div:hover {
  cursor: pointer;
}

.emerge {
  margin: 0;
  margin-left: var(--size-2);
  max-height: 0;
  overflow: hidden;
  transform-origin: top;
  transition: all 0.5s ease;
}

.emerge.show {
  margin-top: var(--size-5);
  margin-bottom: var(--size-5);
  max-height: 999px;
}


@media screen and (max-width: 980px) {
  .questions_div{
    width: 80%;
  }

  .mainDiv{
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .questions_div{
    width: 90%;
  }

  .mainDiv{
    width: 90%;
  }
}
