



.mainDiv{
  display: flex;
   flex-direction: column;
    align-items: center;
    min-height: calc(100vh - var(--size-9));
    min-height: calc(100dvh - var(--size-9));
}




.linkDiv {
    display: flex;
    flex-direction: row;
    margin-top: var(--size-7);
    margin-bottom: var(--size-8);
  }
  
  .pageLink {
    text-decoration: none;
    color: var(--high-contrast-light-txt-color);
    margin-left: var(--size-4);
    margin-right: var(--size-4);
    font-size: var(--font-size-6);
    height: var(--size-7);
    width:var(--size-7);
    display: flex;
   justify-content: center;
   align-items: center;
   
   
  }
  

  
  .currentPageLink {
  
    height: var(--size-7);
    width:var(--size-7);
    opacity: 0.4;
    pointer-events: none; /* Disable pointer events to prevent clicks */
    cursor: not-allowed;
  }
  
  
  

  
  .arrowSpan{
    position:relative;  
  }
  
  .arrowLink{
    height: var(--size-7);
    width:var(--size-7);
    background-color: var(--arrow-bg);
  }
  
  .rightArrowImg {
    height:var(--size-6); width:var(--size-3);
   
  }

  .leftArrowImg{
    transform: scaleX(-1);
  }
  
  
@media(max-width: 1080px){
    .linkDiv{
      margin-top: var(--size-6);
    }
    .pageLink{
      margin-left: var(--size-3);
      margin-right: var(--size-3);
    }
  }
  
  @media(max-width: 580px){
    .linkDiv{
      margin-top: var(--size-5);
    }
  
    .pageLink{
      margin-left: var(--size-2);
      margin-right: var(--size-2);
    }
  
    
  }