


.billingAddressWrapper{
    width: calc(100% + 4px);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    max-height: 0;
}

.billingAddressWrapper > :last-child{
    margin-bottom: var(--size-2);
}

.billingAddressWrapperSpawned{
    
    max-height: 512px;
}



.billingAddressTitle{
    margin: var(--size-4) 0;
    opacity: 0.9;
    font-size: var(--font-size-5);
    font-weight: 400;
}


.InputFieldRow{
    position: relative;
    width: calc(100% - 4px);
    box-sizing: border-box;
    padding: 0;
  
    display: flex;
    flex-direction: row;
   
    margin-bottom: var(--size-5);
  
}

.InputFieldRow > :first-child{
    margin-left: var(--size-3);
}

.InputFieldRow > :last-child{
    margin-right: var(--size-3);
}

.billingCountry{
    margin-bottom: var(--size-5);
}

 
.aptAdder{
    color: rgb(230, 245, 254);
    margin: 0 var(--size-4) ;
    margin-bottom: var(--size-5);
    user-select: none;
    cursor: pointer;
  }


@media(max-width: 980px){
    .InputFieldRow{
        flex-direction: column;
        margin-bottom: 0;
      }

      .aptAdder{
      
        margin-bottom: var(--size-4);
      
      }

      .InputFieldRow > :first-child{
        margin-left: 0;
    }
    
    .InputFieldRow > :last-child{
        margin-right: 0;
    }
}



