


.billingAddressWrapper{
    
    max-height: 0;
    
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.billingAddressWrapperSpawned{
    max-height: 512px;
    transition: max-height 0.5s ease;
}



.billingAddressTitle{
    margin: var(--size-5) 0;
    opacity: 0.9;
    font-size: var(--font-size-5);
    font-weight: 500;
}


.InputFieldRow{
    position: relative;
    width: 100%;
  
    display: flex;
    flex-direction: row;
   
    margin-bottom: var(--size-5);
  
}

.billingCountry{
    margin-bottom: var(--size-5);
}

 
.aptAdder{
    color: rgb(230, 245, 254);
    margin: 0 var(--size-4) ;
    margin-bottom: var(--size-5);
    user-select: none;
    cursor: pointer;
  }


@media(max-width: 980px){
    .InputFieldRow{
        flex-direction: column;
        margin-bottom: 0;
      }
}



