.footer {
 
  width:100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
    padding: var(--size-5) 0;
    padding-top: 0;
    border-top: 1px solid var(--border-color-weak);
    
    z-index: 4;
    contain: content;
    margin-top: auto;
    background-color: var(--footer-bg);
    
  }

  /* background: linear-gradient(to right, #101B2D, #233D5E); */
  
  .hideFooter{
    display: none;
  }

  .mainDiv{
    max-width: var(--size-15);
    width: calc(100% - var(--size-7));
    box-sizing: border-box;
    
    display: flex;
  flex-direction: column;
  align-items: center;
 
  }

  
  .subscribeTitle{
    margin:0;
    padding:0;
    margin-top:var(--size-7);
    margin-bottom: var(--size-4);
    
  }

  .subscribePharagraph{
    color: var(--footer-txt-color);
    margin:0;
    padding:0;
    margin-bottom: var(--size-2);
    font-size: var(--font-size-2);
  }


  .subscribeWrapper{
    width: 100%;
    display:flex;
    align-items: center;
  }

  .subscribeInput{
    min-width: 0;
    width: 0;
    flex: 1;
    height: var(--size-7);
    color: var(--light-txt-color);
    background-color: transparent;
    outline: none;
    border: solid var(--subscribe-input-border) 1px;
    border-radius: var(--size-2);
    box-sizing: border-box;
    padding: var(--size-2);
    
  }

  .subscribeInput::placeholder{
    color: var(--footer-email-placeholder-color);
    font-size: var(--font-size-1);
  }

  .subscribeInput:focus{
    border: solid var(--input-box-shadow-color) 2px;
  }

  .subscribeValidationMessage{
    color: var(--error-color);
    align-self: flex-start;
    margin-top: var(--size-2);
    margin-bottom: var(--size-3);
    margin-left: var(--size-1);
    font-size: var(--font-size-2);
  }

  .subscribeSuccess{
    color: var(--success-color);
  }

  .subscribeButton{
    color: var(--action-button-footer-txt-color);
    background-color: var(--action-button-bg-color);

    width: var(--size-10);
    height: var(--size-7);
    box-sizing: border-box;

    border-radius: var(--size-2);
    box-sizing: border-box;
    border: 1px solid var(--border-color-mid);
    margin-left: var(--size-3);
    transition: background-color 0.1s ease, color 0.1s ease;
    font-size: var(--font-size-2);
    cursor: pointer;
  }

  .subscribeButton:hover{
    color: var(--action-button-txt-color);
    background-color: var(--action-button-bg-color-hover);
  }
  
  .footerLinks {
 
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-top: 0;
   margin-bottom: var(--size-5);
  }
  
  
  .footerLink {
    color: var(--footer-txt-color);
    margin: 0 var(--size-1);
    margin-top: var(--size-3);
    text-decoration: none;
    font-size: var(--font-size-2);
   
  }
  
  .footerLink:hover {
    text-decoration: underline;
  }
  
  .footerLink:active {
    color: var(--footer-link-active-color);
  }


  .linkCards{
    width: 100%;
    margin-top: var(--size-3);
  }
  

  .connectWrapper{
    width: 100%;
    margin-top: var(--size-4);
    margin-bottom: var(--size-6);
  }

  .getInTouch{
    color: var(--footer-txt-color);
    margin-top: var(--size-4);
    margin-bottom: var(--size-6);
    font-size: var(--font-size-2);
  }


  .paymentsDivWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-top: var(--size-6);
   margin-bottom: var(--size-4);
  }


 

  .paymentsDiv{
    width: calc(100% + var(--size-3));
    position: relative;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

   

  
    
  }
  

  .payments{
    height:28px; 
    width: var(--size-8);
    margin: 0 var(--size-2);
    padding-bottom: var(--size-2);
   
  
    
  }

  .reservedRightsPharagraph{
    color: var(--footer-txt-color);
    margin: 0;
    padding: 0;
    font-size: var(--font-size-2);
  }

  @media(min-width: 980px){

    .mainDiv{
      width: calc(100% - var(--size-11));
      max-width: var(--size-18-5);
    }


    .linkCards{
      
      display: flex;
      justify-content: space-between;
      margin-top: var(--size-7);
      margin-bottom: 0;

    }

    .subscribeInput{
     
      width: var(--size-11-5);
    }

    

    .subscribeButton{
    }

    .getInTouch{
      max-width: var(--size-13);
    }


    .paymentsDivWrapper{
    
       margin-top: var(--size-8);
    }

    .reservedRightsPharagraph{
      margin-bottom: var(--size-3);
    }


  }


  @media(max-width: 776px){

  }

  @media(max-width: 600px){
    .internalBenefitDiv{
      font-size: var(--font-size-2);
    }

   

  }



  @media(max-width:480px){
    


    .paymentsDiv{
      justify-content: flex-start;
      width: 392px;
    }

   

    
  .payments{
   
  
    margin: 0 var(--size-2);
 
    
  }

 
    .internalBenefitDiv{
      font-size: var(--font-size-1);
    }
  
  


  }

  @media(max-width: 428px){
    .paymentsDiv{
  
      
      width: 336px;
     
    
      justify-content: center;
    }

    
  }

  
  @media(max-width: 368px){
    .paymentsDiv{
  
      width: auto;
    
      justify-content: center;
    }

  
  }


  @media(max-width: 320px){

    .paymentsDiv{
  
      
      width: 280px;
     
    
      justify-content: flex-start;
    }


    .payments{
      height:21px; 
      width: 36px;
      margin: 0 var(--size-1);
    
   
      
    }
  }

  @media(max-width: 316px){
    .paymentsDiv{
  
      
      width: 240px;
     
    
      justify-content: center;
    }
  }


  @media(max-width: 280px){

    .paymentsDiv{
  
      
      width: auto;
     
    
    }


 
  }




