
.linkDiv{
    display: flex;
    flex-direction: row;

}

.linkDiv a{
    background-color: gray;
    color:rgb(239, 241, 217);
    margin-right: 5px;
}

/* 
.linkDiv a{
    background-color: gray;
} */