
.linkDiv{
    display: flex;
    flex-direction: row;

}

.linkDiv a{
    
    color:rgb(239, 241, 217);
    margin-top: 15px;
    margin-right: 5px;
}

/* 
.linkDiv a{
    background-color: gray;
} */

.pageLink{
    background-color: rgb(240, 250, 255);
}