


.mainDiv{
    min-height: calc(100svh - var(--size-9));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.trackDiv{

    display: flex;
    justify-content: center;
    align-items: center;
    

}


.trackIdInput{
    margin-right: var(--size-3);
}