
.magicButton{
    color: var(--high-contrast-light-txt-color);
    background-color: transparent;
    padding: var(--size-3) var(--size-6);
    border-radius: 2px;
    border: 1px solid var(--border-color-strong);
    cursor: pointer;
    user-select: none;
}

.secondStyle{
    position:absolute;
    margin-top: var(--size-9);
    left: var(--size-5);
}

.secondStyleSecButton{
    position:absolute;
    left: var(--size-5);
    margin-top: 112px;
}