.arrowSpan{
    position:relative;  height:var(--size-6); width:8px;
  }
  
  /* .arrowLink{
       background-color: var(--arrow-bg);
  } */


  .leftArrowImg {
    transform: scaleX(-1);
  }

  .linkDiv {
    display: flex;
    flex-direction: row;
    margin-top: var(--size-7);
    margin-bottom: var(--size-8);
  }
  
  .linkDivPageNumber {
    text-decoration: none;
    color: rgb(239, 241, 217);
    margin-left:  var(--size-4);
    margin-right:  var(--size-4);
    font-size: var(--font-size-6);
    height: var(--size-7);
    width:var(--size-7);
    display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   
  }


  .pageLink {

    
    opacity: 0.4;
    pointer-events: none; /* Disable pointer events to prevent clicks */
    cursor: not-allowed;
  }