.dropDiv{
  width: 100%;
  max-width: var(--size-15);
  display: flex;
  flex-direction: column;
  
}

.cardIcon{
  height: var(--size-5);
  width: var(-size--5);
  margin-right: var(--size-3);
}

.title_div {
  color: white;
  background-color: transparent;
  width: 100%;
    
   
    
    box-sizing: border-box;
    padding: var(--size-5) var(--size-2);
    border: none;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-4);
    
    font-weight: 600;
  }

 
  
  .title_div:hover{
    cursor: pointer;
  }

  
  .plusStyle {
    padding:0;
    margin: 0;
    transform: rotateY(0deg) rotate(-90deg);
    transform-origin: center;
 
    align-self: end;
    font-weight: 400;
  }
  
  .plusStyleRotate {
    transform: rotateY(0deg) rotate(-270deg);
    transform-origin: center;
  }
  
  
  .emerge {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transform-origin: top;
    transition: max-height 0.5s ease;
    border-bottom: 1px solid #b1b1b17a;
    /* opacity: 0.9; */
  }
  
 

  .borderRad{
    border-radius: 8px;
  }
  

/*  */
  /* opacity: 0.9; */