



.popupMainWrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
   
}

.popupBackground{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    animation: darkenScreen 0.5s ease forwards;
}

.popupWrapper{


    max-width: var(--size-13);
    width: calc(100% - var(--size-7));
   

    background-color: rgb(22, 42, 60);
  
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: var(--size-6) ;
    animation: spawnPopup 0.5s ease forwards;
}

.cancelButton{
    position: absolute;
    top: calc(-1 * var(--size-2));
   right: calc(-1 * var(--size-2));
   background-color: rgb(28, 49, 50);
   height: 20px;
   width: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 100%;
    cursor: pointer;
}

.signUpText{
}


.provideEmailDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 var(--size-5);
    margin-top: var(--size-6);
    margin-bottom: var(--size-2);
}


.emailField{
    min-width: 0;
    color: white;
    background-color: transparent;
    height: var(--size-7);
    flex: 1;
    margin-right: var(--size-3);
    box-sizing: border-box;
    text-indent: var(--size-2);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
}

.emailField::placeholder{
    
}

.emailField:focus{
    outline: none;
}

.sendEmailButton{
    color: white;
    background-color: transparent;
    height: var(--size-7);
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    white-space: nowrap;
    cursor: pointer;
}

.emailError{
    color: orange;
    align-self: flex-start;
    font-size: var(--font-size-2);
    margin: 0 var(--size-5);
    padding-left: var(--size-1);
}

.thankYouTitle{
    margin-bottom: var(--size-2);
    font-size: var(--font-size-5);
}

.thankYouMessage{
  
    margin-bottom: var(--size-6);
    opacity: 0.8;
}

@keyframes darkenScreen{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.3;
    }
}

@keyframes spawnPopup{
    0%{
        opacity: 0.7;
        transform: translateY(20%) scale(0.5);
    }
    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}