.appBar {
  width:100%;
  
  height: var(--size-9);
    box-shadow: none;
    background-color: var(--gray-9-elegant);
    color: white;
    border-bottom: 1px solid rgba(20, 20, 20, 0.12);
    z-index: 1;
   
  }
  
  .toolbar {
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    color: var(--blue-2);
    align-items: center;
    display: flex;
    text-decoration: none;
    transition: transform 0.08s ease-in;
    font-size: var(--font-size-5);
    margin: var(--size-2) 0;
  }
 
  
  .title:hover {
    transform: scale(1.1);
  }
  
  .title:active {
    transform: scale(1);
  }
  
  /* .menuButton {
    border: none;
    font-size: 28px;
    color: #0f0f0f;
    display:block;
    margin-left: 10px;
    margin-right: 20px;
  } */
  
  .menuButton:hover {
    cursor: pointer;
  }
  
  .menuButton:active {
    transform: scale(1);
  }
  
  .image {
    height: var(--size-6);
    width: var(--size-6);
    margin-right: var(--size-3);
    height: var(--size-6);
  }

 
  
  .grow {
    width: 60%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobileMenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 999;
    justify-content: center;
    align-items: center; 
  transition: visibility 0s linear 0.1s;
   
  }

 



.growAlt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
  
 
  
  .mainMenuCard {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:var(--size-12);
    background-color: var(--gray-9-elegant);
    border-top-right-radius: var(--size-3);
    border-bottom-right-radius: var(--size-3);
    display: flex;
    flex-direction: column;
    border-right: 1px solid #2e2e31;
    z-index: 1000;
     animation: slideIn 0.2s forwards;
  }

 
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .menuClose {
    animation: slideOut 0.5s forwards;
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .menuCoverDissapear {
    visibility: hidden;
  }
  
  .menuItem_x {
    display: flex;
    justify-content: flex-end;
  }
  
  .menuItem_x_button {
    border: none;
    color: var(--red-2);
    background-color: transparent;
    margin-left: var(--size-3);
    margin-right: var(--size-3);
  }
  

  
  
  
  
  
  
  

  
  
  @media (max-width: 600px) {
    .grow {
      width: 30%;
    }
  }
  
  @media (max-width: 960px) {
    .grow {
      width: 60%;
    }
  }
  
  @media (max-width: 1280px) {
    .grow {
      width: 55%;
    }
  }
  
  @media (min-width: 1280px) {
    .grow {
      width: 65%;
    }
  }
  
  .linkStyle {
    color: var(--red-2);
    text-decoration: none;
    transition: transform 0.08s ease-in;
    font-size: var(--font-size-3);
  }
  
  .linkStyle:hover {
    transform: scale(1.1);
  }
  
  .linkStyle:active {
    transform: scale(1);
  }
  
  
  
  @media (max-width: 1280px) {
    .linkStyle {
    
      margin-left: var(--size-4);
      margin-right: var(--size-4);
    }
  }
  
  @media (min-width: 1280px) {
    .linkStyle {
      margin-left: var(--size-5);
      margin-right: var(--size-5);
    }
  }
  
  .currentLink {
    color: var(--blue-1);
  }
  
  .cartStyle {
    color: #888b88;
    transition: transform 0.1s ease-in;
  }
  
  .cartStyle:hover {
    transform: scale(1.1);
  }
  
  .cartStyle:active {
    transform: scale(1);
  }
  
  
  
 


  .menuButton {
    display: block;
    margin-left: auto;
  }
  

  