.adminHeroImageDiv{
    position: relative;
   margin-left: var(--size-5);
    height: var(--size-9);
    width: var(--size-9);
}


.titleDiv{
    display: flex;
    flex-direction: row;
    margin-top: var(--size-4);
}

.adminHomeMainDiv{
    width:100%;
    max-width: var(--size-18);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.borderLine{
    width: 100%;
    margin-top: var(--size-7);
    margin-bottom: var(--size-7);
    border: 2px dashed #3498db;
}