

.badgeWrapper{
    
    position:absolute;
    top: calc(50% - 9px);
    right: 8px;
    padding: 2px;
    border-radius: 100%;
    z-index: 12;
}

.floatingBadge{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    user-select: none;
  
}



.floatingDiv{
    height: 16px;
    width: 16px;
    color: gray;
    border: 1px solid gray;
    box-sizing: border-box;
    font-size: var(--font-size-1);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 100%;
    cursor: pointer;
  
}

.explainWrapper{

    display: flex;
    flex-direction: column;
    align-items: center;

    position:absolute;
    bottom: calc(50% + 11px);
    right: -77.5px;
    transform: scale(0.6) translateY(8px);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease,margin-right 0.2s ease;
    transform-origin: bottom center;

    user-select: none;
    pointer-events: none;
}

.explain{
    
   
    height: max-content;
    width: var(--size-11-5);
    background-color: rgba(127, 127, 163, 0.9);
    color: black;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    font-size: var(--font-size-2);
    line-height: 20px;
   
    
  
}

.explainTriangle{
   
  
    width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid rgba(127, 127, 163, 0.9);
 
}

.activateExplain{
    transform: scale(1)  translateY(0);
    opacity: 1;
}

@media (max-width: 980px){
    .explainWrapper{
        align-items: flex-end;
     right: -22px;
     margin-right: 12px;
     transform-origin: bottom right;
    }
    .activateExplain{
        transform: scale(1)  translateY(0);
        margin-right: 0;
    }

    .explainTriangle{
        margin-right: 27px;
    }
}