

.badgeWrapper{
    
    position:absolute;
    top: calc(50% - 9px);
    right: var(--size-3);
    padding: var(--size-1);
    border-radius: 100%;
    z-index: 15;
   
}

.floatingBadge{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height:  var(--size-5);
    width:  var(--size-5);
    user-select: none;
  
}



.floatingDiv{
    height: var(--size-5);
    width: var(--size-5);
    color: var(--floating-badge-color);
    border: 1px solid var(--floating-badge-color);
    box-sizing: border-box;
    font-size: var(--font-size-1);

    border-radius: 100%;
    cursor: pointer;
  
}

.explainWrapper{

    display: flex;
    flex-direction: column;
    align-items: center;

    position:absolute;
    bottom: calc(50% + 11px);
    right: -77.5px;
    transform: scale(0.6) translateY(var(--size-3));
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease,margin-right 0.2s ease;
    transform-origin: bottom center;

    user-select: none;
    z-index: 99999;
    
   
}

.explain{
    
   
    height: max-content;
    width: var(--size-11-5);
    background-color: var(--badge-popup-message-bg);
    color: black;
    padding: var(--size-3);
    border-radius: 4px;
    text-align: center;
    font-size: var(--font-size-2);
    line-height: 20px;
   
    
  
}

.explainTriangle{
   
  
    width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: var(--size-3) solid var(--badge-popup-message-bg);
 
}

.activateExplain{
    transform: scale(1)  translateY(0);
    opacity: 1;
}

@media (max-width: 980px){
    .explainWrapper{
        align-items: flex-end;
     right: -22px;
     margin-right: var(--size-4);
     transform-origin: bottom right;
    }
    .activateExplain{
        transform: scale(1)  translateY(0);
        margin-right: 0;
    }

    .explainTriangle{
        margin-right: 27px;
    }
}