.mainDiv{

   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: var(--size-9);
    contain: content;
   
}

.mainDivCloseToBottom{
    margin-bottom: var(--size-5);
}





.bestSellersTitle{
    align-self: flex-start;
    margin-top: var(--size-9);
    margin-left: var(--size-7);
    margin-bottom: var(--size-5);
    font-weight: 400;
}

.slider{ 
    box-sizing: border-box;
    padding-left: var(--size-7) !important;
    padding-right: var(--size-3) !important;
    width: 100%;
   

}

.productImageDiv{
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-top: auto;
    user-select: none;
  

}



.productTitle{
   
    font-size: var(--font-size-4);
    font-weight: 400;
   
     margin: var(--size-5) 0;
     margin-top: var(--size-3);
}

.productImageLink{
    aspect-ratio: 1;
    width: 100%; 
}

.productImageDiv2{
    position: relative;
     height: 100%;
    width: 100%; 
   
    transition: all 0.005s ease-in;
    
    
}

.addToCartButton{
    height:var(--size-8);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--size-4);
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid var(--border-color-strong);
    user-select: none;
    cursor: pointer;
}

@media(hover:hover){
.addToCartButton:hover{
    border: 1px solid var(--success-color);
  
}
}

@keyframes bump {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .addToCartButton:active {
    
    animation: bump 0.3s ease;
  }


@media(max-width: 980px){

    .bestSellersTitle{
        margin-left: var(--size-6);
    }

    .slider{ 
        padding-left: var(--size-6) !important;
       
       
    
    }
  


 

 
    
}


@media(max-width: 600px){

    .bestSellersTitle{
        margin-left: var(--size-5);
    }


    .slider{ 
        padding-left: var(--size-5) !important;
       
       
    
    }


}

@media(max-width: 480px){
    .productImageDiv h2{
        font-size: var(--font-size-3);
    }
}