.mainDiv{

   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: var(--size-9);
   
}

.mainDivCloseToBottom{
    margin-bottom: var(--size-5);
}

.mainDiv a{
    color: white;
    text-decoration: none;
}


.mainDiv h1{
    align-self: flex-start;
    margin-left: 32px;
    margin-bottom: 16px;
    font-weight: 500;
    
}

.slider{ 
    padding-left: 32px !important;
    width: 100%;
   

}

.productImageDiv{
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: auto;
    user-select: none;

}

.productImageDiv:last-child{
    padding-right: 32px;
}

.productImageDiv h2{
    font-size: var(--font-size-5);
    font-weight: 500;
   
     margin: var(--size-5);
}

.productImageLink{
    aspect-ratio: 16/9;
    width: 100%; 
}

.productImageDiv2{
    position: relative;
     height: 100%;
    width: 100%; 
   
    transition: all 0.005s ease-in;
    
    
}

.addToCartButton{
    height:var(--size-7);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--size-4);
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid gray;
    user-select: none;
    cursor: pointer;
}


@media(max-width: 980px){

    .mainDiv h1{
        margin-left: 24px;
    }

    .slider{ 
        padding-left: 24px !important;
       
       
    
    }
  


 

 
    
}


@media(max-width: 600px){

    .mainDiv h1{
        margin-left: 16px;
    }


    .slider{ 
        padding-left: 16px !important;
       
       
    
    }


}

@media(max-width: 480px){
    .productImageDiv h2{
        font-size: var(--font-size-4);
    }
}