

  .customSearchBar{
    
    position: relative;
   display: flex;
    align-items: center;
   
  }

  .searchBarWrapper{
    position: relative;
    
    display: flex;
    align-items: center;
  }

  


  
  .customSearchBarInput {

     width: var(--size-12);
    height: var(--size-7);
    
    background-color: var(--search-bg);
    color: var(--light-txt-color);
    padding: var(--size-3);
  
    border-radius: 2px;
    align-self: center;
    box-sizing: border-box;
    border: solid 1px var(--checkout-input-border-color);
    font-size: var(--font-size-2);
  }

  /* //autofill zadrzi boju */

  .customSearchBarInput:focus{
    border-color: var(--input-box-shadow-color);;
    outline: none;
  }


  .customSearchBarInput:-webkit-autofill {
    background-color: var(--search-bg);
    -webkit-box-shadow: 0 0 0 30px var(--search-bg) inset !important;
    -webkit-text-fill-color: var(--light-txt-color);
   
  }
  
  /* For Firefox */
  .customSearchBarInput:-moz-autofill {
    background-color: var(--search-bg);
    -webkit-box-shadow: 0 0 0 30px var(--search-bg) inset !important;
    -webkit-text-fill-color: var(--light-txt-color);
  }
  




  .searchIcon{
    opacity: 0.8;
    margin-left: var(--size-5);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .customResults{
    display: none;
    max-height: var(--size-14);
    width: var(--size-12);
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--gray-9-elegant);
   
    user-select: none;
    z-index: 99;
    overflow-y: auto;
  }

  .itemsVisible{
    display:flex;
    flex-direction: column;
    align-items: center;
}
  
.resultItem{
  color: var(--light-txt-color);
  text-decoration: none;
  width: 100%;
  padding: var(--size-3);

  display: flex;
  align-items: flex-start;
  
  font-size: var(--font-size-1);

  box-sizing: border-box;
  cursor: pointer;
}

.resultItem:hover{
    background-color: var(--search-bg)#0f1316;
}

.resultProductsLabel{
  width: calc(100% - var(--size-5));
  box-sizing: border-box;
  padding-top: var(--size-4);
  padding-bottom: var(--size-2);
  border-bottom: 1px solid rgba(100, 94, 140, 0.833);
  opacity: 0.8;
}

.searchItemImg{
  height: var(--size-8-5);
  width: var(--size-8-5);
  flex-shrink: 0;
  object-fit: cover;
  margin-right: var(--size-3);
}

.searchCancel{
 display: none;
}


@media(max-width: 1280px){

  
    .customSearchBarOpen{
        position:absolute;
         top:50%;
         right: 0;
         background-color: var(--gray-9-elegant);
        height:var(--size-9);
        width: 100%;
        padding-right: var(--size-9);
        justify-content: flex-end;
        transform: translateY(-50%);
        z-index: 9;

    }

    .searchCancel{
      display: block;
      position: absolute;
     
      right: var(--size-7);

      height: var(--size-6);
      width: var(--size-6);
     
      /* font-size: var(--font-size-5);
      font-weight: 400; */

      user-select: none;
      cursor: pointer;
    }

    .customResults{
        margin-right: var(--size-7);
   
    }

  

    .customSearchBarInput{
      
        display: none;
    }


    .customSearchBarOpen .customSearchBarInput{
        
        display: block;
    }
}


@media(max-width: 480px){
  .customSearchBarInput {

    width: var(--size-12);
  }
}


@media(max-width: 380px){

  .customSearchBarInput {

        width: 224px;
    }

    .customResults{
        width: 224px;
    }

   
}



@media(max-width: 330px){

  .customSearchBarInput {

      width: var(--size-12);
  }

  .customResults{
      width: var(--size-12);
  }

 
}

@media(max-width: 300px){

  .customSearchBarInput {

        width: var(--size-11);
    }

    .customResults{
        width: var(--size-12);
    }

   
}