

  .custom_search_bar{
    
    position: relative;
   display: flex;
    align-items: center;
   
  }

  .searchBarWrapper{
    position: relative;
    
    display: flex;
    align-items: center;
  }

  


  
  .custom_search_bar input {

     width: var(--size-12);
    height: 32px;
    /* background-color: rgb(191, 209, 208); */
    background-color: #0f1316;
    color: white;
    padding: var(--size-3);
  
    border-radius: 2px;
    align-self: center;
    box-sizing: border-box;
    border: solid 1px rgba(134, 110, 114, 0.425);
    font-size: var(--font-size-2);
  }

  .custom_search_bar input:focus{
    border-color: #7daee2;;
    outline: none;
  }

  .searchIcon{
    opacity: 0.8;
    margin-left: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .custom_results{
    display: none;
    max-height: var(--size-13-5);
    width: var(--size-12);
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--gray-9-elegant);
   
    user-select: none;
    z-index: 99;
    overflow-y: auto;
  }

  .itemsVisible{
    display:flex;
    flex-direction: column;
    align-items: center;
}
  
.result_item{
  color:white;
  text-decoration: none;
  width: 100%;
  padding: 8px var(--size-3);

  display: flex;
  align-items: flex-start;
  
  box-sizing: border-box;
  cursor: pointer;
}

.result_item:hover{
    background-color: #0f1316;
}

.resultProductsLabel{
  width: calc(100% - var(--size-5));
  box-sizing: border-box;
  padding: 12px 0;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(100, 94, 140, 0.833);
  opacity: 0.8;
}

.searchItemImg{
  width: var(--size-9);
  aspect-ratio: 16/9;
  object-fit: cover;
  margin-right: 8px;
}

.searchCancel{
 display: none;
}


@media(max-width: 1280px){

  
    .custom_search_bar_open{
        position:absolute;
         top:0;
         right: 0;
         background-color: var(--gray-9-elegant);
        height:64px;
        width: 100%;
        padding-right: 72px;
        justify-content: flex-end;
        z-index: 9;

    }

    .searchCancel{
      position: absolute;
      display: block;
      top: 20px;
      right: 40px;
      color: var(--red-2);
      font-size: var(--font-size-5);
      font-family: Arial, sans-serif;
      font-weight: 500;
      user-select: none;
      cursor: pointer;
    }

    .custom_results{
        margin-right: 32px;
   
    }

  

    .custom_search_bar input{
      
        display: none;
    }


    .custom_search_bar_open input{
        
        display: block;
    }
}


@media(max-width: 480px){
  .custom_search_bar input {

    width: var(--size-12);
  }
}


@media(max-width: 380px){

    .custom_search_bar input {

        width: 224px;
    }

    .custom_results{
        width: 224px;
    }

   
}

@media(max-width: 280px){

    .custom_search_bar input {

        width: var(--size-11);
    }

    .custom_results{
        width: var(--size-12);
    }

   
}