.quantityMainDiv{
  
 
  width: 100%;
  max-width: var(--size-15);
  
  display: flex;
  flex-direction: column;
 
  margin-top: var(--size-7);
  
}

.quantityTitle{
 
  margin-bottom: var(--size-2);
  margin-left: 4px;
 
}


.quantityInfo {
 
 
   width:100%;
    display: flex;
    align-items: center;
   
   
  }

  
.quantityButton{

    width: var(--size-8);
    background-color: var(--gray-9-elegant);
    color: #979797;
    border: 1px solid rgb(80, 77, 90);
    
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    padding: 8px var(--size-3);
    
    border-radius: 4px;
   
    
  


}  
.quantityButton:hover{
  background-color:rgb(20, 22, 41);
}


.decrementButton{
  margin-left: var(--size-5);
  margin-right: var(--size-4);
}


 


  
  .quantityInput {
    

    flex-grow: 1;
    color:white;
    
    background-color: #172247;
    
   
   
    border: none;
    border-radius: 4px;
    padding: 12px 8px;

   
    text-align: left;
   
    font-size: 16px;
    outline: none;
  }

