.quantityMainDiv{
  
  margin-top: var(--size-7);
  
  width: 100%;
  max-width: var(--size-15);
  display: flex;
  flex-direction: column;
 
  
}

.quantityMainDiv p{
  margin:0;
  margin-bottom: var(--size-2);
  margin-left: 4px;
 
}


.quantity_button {
 
 
   width:100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
   
  }

  
.quantity_button button{

    width: var(--size-8);
    background-color: var(--gray-9-elegant);
    color: #979797;
    border: 1px solid rgb(80, 77, 90);
    
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    padding: 8px var(--size-3);
    
    border-radius: 4px;
   
    
  


}  
.quantity_button button:hover{
  background-color:rgb(20, 22, 41);
}



.buttons{
  margin-left: var(--size-5);
} 

  .decrement{
    
    margin-right: var(--size-4);
  }

  .increment {
    margin-right: 0;
  }


  
  .quantityInput {
    
   padding: 0;
   margin: 0;
    color:white;
    flex-grow: 1;
    background-color: #172247;
    width: var(--size-8);
    text-align: left;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 12px 8px;

  }

  .quantityInput:focus{
    outline: none;
  }