.title {
  margin-bottom: var(--size-7);
  }

  .mainReviewDiv{
    height: max-content;
    
  
    
    border-radius: var(--size-2);
    overflow: hidden;
  }

 
  
  .reviewDiv { 
    background-color: #081522;
    min-height: max-content;
    height: var(--size-13-5);
   
    max-width: var(--size-13);
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    border-radius: var(--size-2);
    padding: var(--size-4);
    margin-left: var(--size-6);
    margin-right: var(--size-6);
    margin-bottom: var(--size-8);
    margin-top: var(--size-3);
    box-shadow: 0px -1px 0px #091a27,  0px 1px 0px #07121e;
 
  }
  
  .mainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: max-content;
    width: max-content;
    user-select: none;
  }

  .reviewTitle {
    color: var(--gray-1);
    margin-top: var(--size-2);
    margin-bottom: var(--size-2);
  }

  .ratingStarDiv{
    width: 100%;
   /* display: flex;
   justify-content: center; */
   margin-left: var(--size-1);
   margin-top: var(--size-3);
   margin-bottom: var(--size-2);
  }
  

  .authorDiv{

    display: flex;
    align-items: center;

    margin-top: auto;
    margin-bottom:0;
  }


 .authorImage{
    height: var(--size-7);
    width: var(--size-7);
    border-radius: 100%;
  }


  .authorName{
    margin-left: var(--size-4);
  }

  
  
  .reviewText{
    text-align: left;
    /* text-indent:var(--size-3); */
   }
 
  

 

  .slider{
    margin: var(--size-6) 0;
width: 100vw ;

  }
 
 






@media (min-width: 1620px) {
  .reviewDiv {
    margin-left: var(--size-8);
    margin-right: var(--size-8);
  }
}



@media (min-width: 1420px) {
  .reviewDiv {
    margin-left: var(--size-7);
    margin-right: var(--size-7);
  }
}


@media (max-width: 1080px)  {



 

  .reviewDiv{
    background-color: #081522;
    max-width: var(--size-13);
    max-height: var(--size-13-5);
    width: calc(100vw - var(--size-11));
    height: calc((100vw - var(--size-11)) * 5 / 4);
    margin-left: 32px;
    margin-right: 32px;
  }

 
  
}
  
  @media(max-width: 600px) {
      
  

    .reviewDiv {
      
      width: calc(100vw - var(--size-7));
      height: calc((100vw - var(--size-7)) * 5 / 4);
      margin-left: var(--size-5);
    margin-right:  var(--size-5);
    }

  }


  @media(max-width: 360px) {
      
  

    .reviewDiv {
      
     
      margin-left: var(--size-4);
    margin-right:  var(--size-4);
    }

  }


 

 

  
 