

.mainDiv{
    width:100%;
    flex-grow: 1;

    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-top: var(--size-10);
   
}

.mainDiv h1{
  margin-bottom: 0;
}













.reviewImage{
  position: relative;
  width: 100%;
  height:max-content;
 
   
}

@media (hover:hover) {
  .reviewImage{
    cursor: zoom-in;
  }
}



.coolDiv{
  display: flex;
  justify-content: center;
}




.masonry{


  width: calc(100% - var(--size-5));
   
  box-sizing: border-box;
  padding: 0 var(--size-3);
  padding-bottom: var(--size-6);
  gap: 0;

 column-count: 4;
 column-gap: var(--size-5);
 contain: content;

 
 user-select: none;
  
}

@media(max-width: 1200px){
  .masonry{
    column-count: 3;
  }
}

@media(max-width: 700px){
  .masonry{
    column-count: 2;
  }
}

@media(max-width: 580px){
  .masonry{
    column-count: 1;
  }
}


.reviewDiv{
  color: white;
  background-color: var(--write-review-main-bg);

   max-height: max-content;
   box-sizing: border-box;
   padding: var(--size-5) 0;
   padding-top: 0;
   border-radius: 8px;
   overflow: clip;
   position: relative; 
   margin-bottom: var(--size-5);
   break-inside: avoid;
   cursor: pointer;

}



/* .reviewDiv{
  width: 100%;
   max-height: max-content;
   box-sizing: border-box;
   padding: 0 var(--size-3);
   margin-bottom: var(--size-7);
   break-inside: avoid;
} */



  /* .reviewDivImage{
    width: 100%; 
    height: auto;
    margin-bottom: 5px;
  } */

  .starDiv{
    margin-bottom: 0;
  
    padding: 0 var(--size-4);
    box-sizing: border-box;
    padding-top: var(--size-5);
  }

  .reviewText{
    margin-top: var(--size-1);
    margin-bottom: var(--size-4);
    font-family: var(--hand-writing-font);
    
    font-size: var(--font-size-3);
    line-height: 24px;

    padding: 0 var(--size-4);
  }
  /* padding: 0; */

  .reviewAuthor{
    margin-top: var(--size-2);
    font-weight: 400;
      padding: 0 var(--size-4);
    
  }

  .showMoreButton{
    margin-top:  var(--size-4);
    margin-bottom:  var(--size-6);
    font-size: 28px;
    padding: var(--size-3) var(--size-5);
    color: var(--light-txt-color);
    background-color: transparent;
    border: 1px solid var(--border-color-strong);
    border-radius: var(--size-2);
    text-decoration: none;
    cursor: pointer;
  }

  
  @media (min-width: 1320px)  {
    .mainDiv{
      width: var(--size-19);
    }
  }





  @media (max-width: 980px)  {


    .masonry{
  
      width: calc(100% - var(--size-11));
     
   
  }


    .my_masonry_grid{
      width: calc(100% - var(--size-11));
    }
    .mainDiv{
     margin-top: var(--size-9);
    }
  }
  
  @media (max-width: 600px)  {

    .masonry{
  
      width: calc(100% - var(--size-8));
     
   
  }


    .my_masonry_grid{
      width: calc(100% - var(--size-8));
    }
  }




 