.mainItemDiv{

height: auto;
width: 100%;
color: var(--high-contrast-light-txt-color);
 
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: stretch;
 padding: var(--size-5) var(--size-2);
 border-bottom: 1px solid var(--border-color-mid);
}



.mainItemInfo{

  
  height: auto;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
 margin-left: var(--size-6);


}

.productName{
  font-size: var(--font-size-7);
  font-weight: 400;
  margin: 0;
 
  padding: 0;
  
}





      .itemPrice{
        margin: var(--size-5) 0;
        opacity: 0.7;
        font-size: var(--font-size-5);
        font-weight: 400;
      }

      .variant{
        margin: 0;
        margin-bottom:  var(--size-5);
        opacity: 0.7;
        font-size: var(--font-size-4);
        font-weight: 300;
        
      }


      .mediaLink{
        height: min-content;
      }

.media {
  position:relative;
  height: min-content;
  width:var(--size-11);
 aspect-ratio: 1;
 border-radius: 4px;

  }

  .productImage{
    height: 100%;
    width: 100%;
    
  }

  .edgeDiv{
    height: auto;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }



  .removeButton{
    height: auto;
    width: var(--size-6);
    margin-right: var(--size-1);
    margin-bottom: var(--size-1);
    border: none;
    border-radius: 4px;
    opacity: 0.65;
    cursor: pointer;
  }

 

  
  .buttons {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-left: var(--size-1);
  
  }




  .quantityButton{
    color: var(--light-txt-color);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    border:none;
    background-color:transparent;

    box-sizing: border-box;
    border-radius: 2px;
     border: 1px solid var(--border-color-mid);
    font-weight: 400;
    opacity: 0.9;
     cursor: pointer;
  }
  
  .quantity{
    font-size: var(--font-size-3);
    font-weight: 300;
    margin: 0 var(--size-4);
    opacity: 0.9;
  }



  .totalPrice{
   
      margin: 0 var(--size-2);
      margin-bottom: calc(-1 * var(--size-1));
    
      font-size: var(--font-size-5);
      font-weight: 400;
    
  }

  .link {
    color: var(--high-contrast-light-txt-color);
    text-decoration: none;
  }


  @media (max-width: 980px)  {

   

    
    

      .productName{
    
        font-size: var(--font-size-6);
      
        
      }

      .itemPrice{
        margin:  var(--size-4) 0;
     
      }

      .variant{
       
        margin-bottom: var(--size-4);
      }
      


  }

  @media(max-width: 720px){
    .productName{
    
      
      font-size: var(--font-size-5);
 
      
    }


    
  }
  
  @media (max-width: 600px)  {
    .media {
      width:112px;
      }
  
      .productName{
        font-size: var(--font-size-4);
      
        
      }

      .itemPrice{
      
     
        font-size: var(--font-size-5);
      }
      


  }

  @media (max-width: 580px)  {
   
  
 
   
   



     
      .mainItemInfo{
      
        margin-left: var(--size-5);
      }
      
  }

  @media (max-width: 480px)  {

    .mainItemDiv{
      padding: var(--size-4) var(--size-2);
    }
    .media {
      width:var(--size-10);
    
      }
      .productName{
        font-size: var(--font-size-3);
      
        
      }

      

      .itemPrice{
     
     
        font-size: var(--font-size-3);
        margin: var(--size-4) 0;
      }

      .variant{
        font-size: var(--font-size-3);
        margin-bottom: var(--size-4);
       
      }

      .removeButton{
      width: 20px;
      }

    
          
      .mainItemInfo{
      
        
        margin-left: var(--size-5);
    }

   
      
  }


  @media (max-width: 380px)  {

    /* .media {
      width:112px;
    
      } */
    

      .mainItemInfo{
        margin-left: var(--size-4);
    
    }

    

   
     
      
  }