.media {
  position:relative;
    height: 260px;
    color: white;
    background-color: black;
  }
  
  .cardContent {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
  }
  
  .cartActions {
    justify-content: space-between;
    color: white;
    background-color: black;
  }
  
  .buttons {
    display: flex;
    align-items: center;
  }