.mainItemDiv{

height: auto;
width: 100%;
color: var(--high-contrast-light-txt-color);
 
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: stretch;
 padding: var(--size-5) var(--size-2);
 border-bottom: 1px solid rgba(128, 128, 128, 0.503);
}



.mainItemInfo{

  
  height: 100%;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
 margin-left: var(--size-6);


}

.productName{
  font-size: var(--font-size-7);
  font-weight: 400;
  margin: 0 4px;
 
  padding: 0;
  
}



.cardActions{
      
      flex:1;
      height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        
      }

      .itemPrice{
        margin: 16px 4px;
        opacity: 0.7;
        font-size: var(--font-size-5);
        font-weight: 400;
      }

      .color{
        margin: 0 4px;
        margin-bottom: 16px;
        opacity: 0.7;
        font-size: var(--font-size-4);
        font-weight: 400;
        
      }

.media {
  position:relative;
  width:var(--size-13);
  height: calc(var(--size-13) / 16 * 9);
 
  

  }

  .edgeDiv{
    height: auto;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .totalPrice2{
   
    margin: 0 4px;
    font-size: var(--font-size-5);
    font-weight: 400;
  
}

  .removeButton{
    height: auto;
    width: var(--size-6);
    margin-right: var(--size-1);
    border: none;
    border-radius: 4px;
    opacity: 0.65;
    cursor: pointer;
  }

 

  
  .buttons {
    display: flex;
    align-items: center;
  
  }




  .quantityButton{
    color: var(--light-txt-color);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    border:none;
    background-color:transparent;

    box-sizing: border-box;
    border-radius: 2px;
     border: 1px solid rgba(128, 128, 128, 0.503);
    font-weight: 400;
    opacity: 0.9;
     cursor: pointer;
  }
  
  .quantity{
    font-size: var(--font-size-3);
    font-weight: 300;
    margin: 0 var(--size-4);
    opacity: 0.9;
  }



  .totalPrice{
   
      margin: 0 4px;
    
      font-size: var(--font-size-5);
      font-weight: 400;
    
  }

  .link {
    color: var(--high-contrast-light-txt-color);
    text-decoration: none;
  }


  @media (max-width: 980px)  {

   

    .media {
      width:var(--size-12);
      height: calc( var(--size-12) / 16 * 9);
      }

    
    

      .productName{
    
        font-size: var(--font-size-6);
      
        
      }

      .itemPrice{
        margin: 12px 4px;
     
      }

      .color{
       
        margin-bottom: 12px;
      }
      


  }

  @media(max-width: 720px){
    .productName{
    
      
      font-size: var(--font-size-5);
 
      
    }


    
  }
  
  @media (max-width: 600px)  {
    .media {
      width:var(--size-12);
      height: calc( var(--size-12) / 16 * 9);
      }
  
      .productName{
        font-size: var(--font-size-4);
      
        
      }

      .itemPrice{
      
     
        font-size: var(--font-size-5);
      }
      


  }

  @media (max-width: 580px)  {
   
  
 
   
   


    .media {
      width:var(--size-12);
      height: calc(var(--size-12) / 16 * 9);
      }

     
      .mainItemInfo{
      
        margin-left: var(--size-5);
      }
      
  }

  @media (max-width: 480px)  {

    .mainItemDiv{
      padding: var(--size-4) var(--size-2);
    }
    .media {
      width:var(--size-11);
      height: calc( var(--size-11) / 16 * 9);
      }
      .productName{
        font-size: var(--font-size-3);
      
        
      }

      

      .itemPrice{
     
     
        font-size: var(--font-size-3);
        margin: 12px 4px;
      }

      .color{
        font-size: var(--font-size-3);
        margin-bottom: 12px;
       
      }

      .removeButton{
      width: 20px;
      }

    
          
      .mainItemInfo{
      
        
        margin-left: var(--size-3);
    }

   
      
  }


  @media (max-width: 380px)  {

    .media {
      width:112px;
      height: calc( 112px / 16 * 9);
      }
    

      .mainItemInfo{
        margin-left: var(--size-2);
    
    }

    

   
     
      
  }