


.gpayButton{
   
    height: calc(var(--size-8) - 1px);
    width: calc(100% - 1px);
    border-radius: 4px;
    background-color: black;
    border: 0.5px solid var(--google-pay-border-color);
   
    
}


.googlePayError{
    color: var(--error-color);
     margin-top: var(--size-2);
      margin-bottom: var(--size-2);
    margin-left: var(--size-1);
    font-size: var(--font-size-2);
}