
.policy_background_div{
width:100%;

height:100%;
min-height:calc(100vh - 128px);
background-color:var(--gray-9-elegant);
display:flex;
justify-content:center;
box-sizing: border-box;

}

.policy_main_div{
    margin:auto;
  
  height: max-content;
  opacity: 0.9;
    background-color:var(--gray-9-elegant);
     overflow: auto;
     margin-top: 0;
     margin-bottom:var(--size-9);
    border-radius:var(--size-3);
 
    
     max-width:720px;
     min-height: 370px;
     width: calc(100% - var(--size-7));

     display: flex;
     flex-direction: column;
     align-items: flex-start;
   
}

.policy_main_div p{
  font-family: var(--hand-writing-font);
  font-size: var(--font-size-3);
}

.policy_main_div strong{
  font-family: var(--font-neutral);
 
}

.policy_main_div li{
  font-family: var(--hand-writing-font);
}

.policy_main_div h1{
  align-self: center;
  margin-bottom: var(--size-7);
}

.policy_main_div h2{
  margin-top: var(--size-7);
}



.homeCard{
  
  margin-top: var(--size-9);
  box-shadow: none;
 
}

.bigBackDiv{
  min-height:calc(100vh - 64px);
}


.policy_background_div::-webkit-scrollbar {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  };
  .policy_background_div::-webkit-scrollbar-track {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  };
  .policy_background_div::-webkit-scrollbar-thumb {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }


  .policy_background_div hr{
    border-color: var(--gray-10)
}

@media (max-width: 980px) {
  .policy_main_div{
    width: calc(100% - var(--size-9));
  }
}

@media (max-width: 600px) {
  .policy_main_div{
    width: calc(100% - var(--size-8));
  }
}

@media (max-width: 480px) {
  .policy_main_div{
    width: calc(100% - var(--size-7));
  }
}