
.policy-background-div{
width:100%;
height:100%;
min-height:calc(100vh - 131px);
background-color:var(--gray-9-elegant);
display:flex;
justify-content:center;
box-sizing: border-box;
}

.policy-main-div{
    margin:auto;

  height: max-content;
    color:var(--yellow-white);
    background-color:var(--gray-9-elegant);
     overflow: auto;
     margin-bottom:20px;
    border-radius:8px;
     padding-left:10px;
     padding-right:15px;
    
     max-width:720px;
     min-height: 370px;
     width: 90%;
     margin-top: 20px;
     box-shadow: 0 -0.3px 4px 1px rgba(211, 211, 211, 0.2);
   
}

.marginRight{
  margin-right: 10px;
}

.homeCard{
  margin-top: var(--size-7);
}

.bigBackDiv{
  min-height:calc(100vh - 135px);
}


.policy-background-div::-webkit-scrollbar {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  };
  .policy-background-div::-webkit-scrollbar-track {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  };
  .policy-background-div::-webkit-scrollbar-thumb {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }


  .policy-background-div hr{
    border-color: var(--gray-10)
}