

.logoWrapper{
    width: 100%;
    border-bottom: 1px solid var(--border-color-mid);
    display: flex;
    justify-content: center;
}

.logoDiv{
    position: relative;
    background-color: var(--gray-9-elegant);
    height: var(--size-10);
    max-width: var(--size-18);
    width: calc(100% - var(--size-11));
    
    display: flex;
    justify-content: center;
    align-items: center;
 

}

.bagImg{
    height: var(--size-7);
    width: var(--size-7);
}

.cartLink{
    position: absolute;
    left:calc(-1 * var(--size-5));
    top: 50%;
    transform: translateY(-50%);
}




.logo{
    height: var(--size-9-5);
    width: var(--size-9-5);
    z-index: 9;
}





/* background: linear-gradient(3deg, rgba(13,24,45,1) 0%, rgba(34,80,139,1) 53%, rgba(2,7,9,1) 100%);
background: linear-gradient(30deg, rgba(37, 37, 70, 0.403), rgba(15, 17, 28, 0.496)); */


@media (max-width: 980px){



    .logoDiv{
        max-width: var(--size-15-5);
        /* width: calc(100% - var(--size-14)); */
    }

    .cartLink{
        left:  0;
    }



}

@media (max-width: 600px){

    .logoDiv{
        width: calc(100% - var(--size-8));
        /* width: calc(100% - var(--size-14)); */
    }

    .cartLink{
        left:  0;
    }

   
}