.linkButton{
    font-weight:700; 
    margin-left:20px; 
    margin-top:calc(5vh + 56px); 
    font-size:16px;
    background-color:#A45C30;
    border:none; 
    color:black;
     width:124px;
     height: 40px;
    border-radius: 8px;
    transition: transform 0.1s ease-in;
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, .5);

  }

  .heroImageDiv{
    z-index:1;
    background-image: url('../public/images/gamerwp.png');

         position:fixed;
         min-height:100vh;
          min-width:100vw;
         background-size: cover;
  }

  .heroWindow{
    z-index:2;
    display:flex;  
    background-color:transparent;
    height:calc(100vh - 128px);
    width:100vw ; 
    border-bottom:1px #2e2e31 solid;
        border-top:1px black solid;
  }


  .linkButton:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

  .linkButtonFirst{
    margin-left: 5vw;
  }


  .marginRight {
    margin-right: 40px;
  }


  .content {
    
    flex-grow: 1;
    background-color: var(--gray-9-elegant);
    z-index: 2;
    display: flex ;
    flex-direction: column;
    align-items: center;
  }