.linkButton{
   
    font-size:var(--font-size-6);
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:rgb(218, 205, 181);
    background-color:var(--shop-now-hero-button-bg);
    border-radius: 4px;
     width:var(--size-11-5);
     height: var(--size-8);
    /* transition: transform 0.1s ease-in; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);;
    z-index: 2;
    position: absolute;
    font-family: var(--hand-writing-font);
    font-weight: 600; 
    cursor: pointer;
  }

  .linkButton:hover{
    transition: transform 0.1s ease;
    transform: scale(1.1) !important;
  
  }
 
 

  .heroWindow{
    width:100% ; 
    position:relative;
    display:flex;  
    justify-content: center;
    align-items: center;
  
    border-bottom:1px solid var(--border-color-weak);
    /* #2e2e31 */  /* #2e2e31 */
        border-top:1px black solid;
        min-height: var(--size-13);
    
       
  }

  .heroImage{
    position: relative;
    width: 100%;
    height: max-content;
  
    min-height: var(--size-13);
    max-height: calc(100vh - var(--size-11));
    object-fit: fill;
   
  
}







  .content {
    width:100%;
   
 
    z-index: 1;
    display: flex ;
    flex-direction: column;
    align-items: center;
  }


  @media (min-width: 720px){
    .heroImage{
      /* aspect-ratio: 2 !important; */
    
    }
  }

  @media (max-width: 720px){
    .heroImage{
  
      /* aspect-ratio: 1 !important; */
    }
  }

