:root {
    --blue-1: #c0b5db;
    --blue-2: rgb(105, 154, 182);
    --blue-3: #4285B0;
    --blue-4: #2965AB;
    --blue-5: #1B4B83;
    --blue-6: #193563;
    --blue-7: #0A2249;
    --blue-8: #06133D;
    --blue-9: #040F2E;
    --red-1: #daaba8;
    --red-2: #B87F65;
    --red-3: #A75631;
    --gray-1: #CBC6B0;
    --gray-2: #AC9576;
    --gray-3: #9E846F;
    --gray-4: #866E57;
    --gray-5: #685947;
    --gray-6: #50443B;
    --gray-7: #372F2A;
    --gray-8: #241F1C;
    --gray-10:#030a08;
    --gray-9: #0A0A09;
    --gray-10: #030404;
    --gray-9-elegant:#010203;
    --yellow-white: #e0ded2;

    --yellow-8: #796632;




    --practice:#e9e2c3;

  }