.mainDiv{
    min-height: calc(100vh - var(--size-9));
    width: calc(100% - var(--size-6));
    max-width: var(--size-17);
    display: flex;
    flex-direction: column;
   
    border-bottom: none;
    border-radius: 8px;
   
   
}

.mainDiv h1{

    margin-bottom:var(--size-7);
}

/* iz nekog razloga racunica se ne podadudara kad stavim size-8, pa sam stavio size-7 */

.contactUsTextDiv{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--size-3);
    opacity: 0.9;
}


.contactUsText{
    margin: var(--size-3) var(--size-5);
 
}

.contactInfoDiv{
    width: calc(100% - var(--size-4));
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: var(--size-3);
    padding-left:  var(--size-2);
  
    margin-left:  var(--size-2);

}



.contactError{
  color: var(--error-color);
  
   
    
    margin-top:  var(--size-1);
    margin-left: var(--size-1);
    font-family: var(--font-neutral);
    font-size: var(--font-size-2);
}

.contactMessageError{
    margin-left: 6px;
}

.infoDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}



.inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: var(--size-2);
    padding-left:  var(--size-2);
    padding-right: var(--size-2);
    margin-right: var(--size-2);
    margin-bottom: var(--size-3);
}


.inputGroupLabel{
    margin-left: var(--size-1);
    margin-bottom: var(--size-1);
    font-family: var(--font-neutral);
    opacity: 1;
}

.contactInput{

    height: var(--size-8);
    width: 100%;
    width: calc(100% - var(--size-3));
    color: var(--high-contrast-light-txt-color);
    background-color: var(--contact-input-color);
    /* font-family: var(--font-neutral); */
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 var(--size-2);

    outline: none;
    font-size: var(--font-size-5);
    font-family: var(--font-neutral);
   

    
}



.inputGroup input:focus{
    border: 1px solid var(--border-color-strong);
}





.messageField{
    width: calc(100% - var(--size-3));
   
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
   
    margin: var(--size-5) var(--size-2);
    margin-bottom: var(--size-6);
    padding: var(--size-2);
    padding-bottom: 0;
    box-sizing: border-box;
    border-radius: 8px;
}

.messageField label{
    margin-left: 6px;
    margin-bottom: var(--size-1);
    font-family: var(--font-neutral);
    opacity: 1;
}

.messageTextArea{
    height: var(--size-13);
    border: none;
    color: var(--high-contrast-light-txt-color);
    background-color: var(--contact-input-color);
    flex-grow: 1;
    margin-left: var(--size-2);
    margin-right: var(--size-2);
    resize: none;
    border-radius: 8px;
    font-family: var(--font-neutral);
    font-size: var(--font-size-5);
    box-sizing: border-box;
    padding: var(--size-3) var(--size-2);
    outline: none;
}

.messageTextArea::placeholder{
    font-family: var(--font-neutral);
}

.messageTextArea:focus{
    border: 1px solid var(--border-color-strong);
}

.messageSuccess{
    font-family: var(--font-neutral);
    font-size: var(--font-size-2);
    margin-top:var(--size-1);
    color: var(--success-color);
    margin-left: var(--size-3);
}

.sendButton{
    align-self: flex-end;
    width: var(--size-11);
    height: var(--size-8);
    border: none;
    border-radius: 12px;
    color: var(--action-button-txt-color);
    background-color: var(--action-button-bg-color);
 
    margin-left: var(--size-4);
    margin-right: var(--size-4);
    margin-bottom: var(--size-7);
    font-size: var(--font-size-4);
    cursor: pointer;
}

.sendButton:hover{
    background-color: var(--action-button-bg-color-hover);
    /* background-color: rgb(35, 49, 48); */
 
}

.sendButtonDisabled{
    opacity: 0.7;
    cursor:auto;
}

.sendButtonDisabled:hover{
    background-color: var(--action-button-bg-color);
  
}

/* @media(max-width: 980px){
    .mainDiv h1{
        margin-bottom: var(--size-5);
    }
} */

@media(max-width: 480px){
    .mainDiv{
       
        width: calc(100% - var(--size-4));
    }

    .sendButton{
        align-self: center;
        width: calc(100% - var(--size-6));
        height: 40px;
        font-size: var(--font-size-3);
       
        border: 1px solid var(--border-color-weak);
        border-radius: 4px;
      
    }


}