

 .hronika{
 
  position: relative;
  height: max-content;
  display: flex;
  flex-direction: column;
   align-items: center;
  
  min-height: 100svh;
  width: 100% ;
  overflow-x: clip;


}

html{
  /* margin: 0 auto; */
 
  overflow-x: clip;
}

body{



  color:var(--light-txt-color);
 background-color: var(--gray-9-elegant);

  min-height: 100%;
  width: 100%;
 

  
  margin: 0;
  padding: 0;
  font-family: var(--font-neutral);
  font-weight: 400;
  overflow-x: clip;
  overflow-anchor: none;
}

h1{
  text-align: center;
  font-size: var(--font-size-7);
  margin-bottom: var(--size-8);
  margin-top: var(--size-7);
  font-weight: 600;
}



h2{
  
  font-size:var(--font-size-6);
}

a{
  color: #49869e;
}

p {
  margin: var(--size-3) 0;
  padding: 0;
  font-size:var(--font-size-3);
}


::-webkit-scrollbar {
  max-width:10px;
  background-color: #1a1a1a;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}





.centered {
  flex-grow: 1;
  z-index: 2;
  display: flex ;
  flex-direction: column;
  align-items: center;
}







.object_fit_cover{
  object-fit: cover;
}

.text_decoration_none{
  text-decoration: none;
}

.hideScroll{
  overflow-y: hidden;
}



:root {

  --size-1: 2px;
  --size-2: 4px;
  --size-3: 8px;
  --size-4: 12px;
  --size-5: 16px;
  --size-6: 24px;
  --size-7: 32px;
  --size-8: 48px;
  --size-9: 64px;
  --size-9-5: 80px;
  --size-10: 96px;
  --size-11: 128px;
  --size-11-5: 160px;
  --size-12: 192px;
  
  --size-13: 256px;
  --size-13-5: 320px;
  --size-14: 384px;
  --size-14-5: 448px;
  --size-15: 512px;
  --size-15-5: 576px;
  --size-16: 640px;
  --size-17: 768px;
  --size-18: 1024px;
  --size-18-5: 1102px;
  --size-19: 1280px;


 /* Didot
Baskervville
Adore+Modern+Serif
Playfair+Display
Cormorant+Garamond */

  --hand-writing-font: var(--font-eb_garamond);
  /* --font-neutral: 'Roboto', sans-serif; */
  --font-neutral: var(--font-inter);
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-6-5: 28px;
  --font-size-7: 30px;
  --font-size-8: 36px;
  --font-size-9: 48px;
  --font-size-10: 60px;
  --font-size-11: 72px;


  --test: #171425;
  --blue-1: #c0b5db;
  --blue-2: rgb(105, 154, 182);
  --blue-3: #4285B0;
  --blue-4: #2965AB;
  --blue-5: #1B4B83;
  --blue-6: #193563;
  --blue-7: #0A2249;
  --blue-8: #06133D;
  --blue-9: #040F2E;
  --red-1: #daaba8;
  --red-2: #B87F65;
  --red-3: #A75631;
  --gray-1: #CBC6B0;
  --gray-2: #AC9576;
  --gray-3: #9E846F;
  --gray-4: #866E57;
  --gray-5: #685947;
  --gray-6: #50443B;
  --gray-7: #372F2A;
  --gray-8: #241F1C;
  --gray-10:#030a08;
  --gray-9: #0A0A09;
  --gray-10: #030404;
  --gray-9-elegant:#02050a;
  --gray-9-elegant-op08: #02050acc;
  --gray-9-elegant-original:#010203;
  
  --yellow-8: #796632;
  --practice:#e9e2c3;


  /* Take your primary branding color, convert it to HSL then shift the lightness up to the 90-99% range until it's bright enough. Or #f2f2f2/F4F3F2*/

  --high-contrast-light-txt-color: white;
  --light-txt-color: #e0ded2;

  --main-button-color: #1976d2;
  --main-button-hover-color: #1565C0;
  --main-light-color: #989898;
  --main-dark-color: #323232;
  --footer-txt-color: rgba(255, 255, 255, 0.65);
  --footer-link-active-color: #ccc;
  --footer-email-placeholder-color: #7a857a;
  --action-button-footer-txt-color: rgba(255, 255, 255, 0.8);
  --action-button-txt-color: rgba(255, 255, 255, 0.9);
  --action-button-bg-color: rgb(62, 44, 36);
  --action-button-bg-color-hover:rgb(50, 36, 30);
  /* txt-Alt:white; bg-Alt #202020 */

 
  /* //#43A146 //#42A147 */

  --success-color: #43A146;
  --error-color: red;
  --error-box-shadow-color: rgb(158, 49, 6);

  --border-color-weak: rgb(72, 69, 85);

  /*~Specific~*/


  
  --cart-button-items-number-bg: rgb(97, 26, 97);

  --search-bg: #0f1316;
  --nav-select-search-link-color:rgb(13, 24, 27);
  

  --shop-now-hero-button-bg: #060f18ef;
  --home-review-color:  #081522;


  --summery-light-color: #e5e5e6;
  --checkout-order-summery-bg-mobile: #0e2438;
  --checkout-order-summery-bg: #091a29;
  --checkout-order-summery-bg-light: #0c2133;

  --checkout-input-placeholder: #979797;
  --apply-coupon-color: #1e374d;
  --apply-coupon-hover-color: #254766;
  --coupon-code-bg: rgb(36, 48, 58);
  --express-checkout-button-bg: #151921;
  
  --apt-txt-color: rgb(230, 245, 254);

  --select-payment-circle-ring-color: aqua;
  --select-payment-circle-color: gray;
  --payment-div-bg: rgb(11, 18, 24);

  --add-tip-button-disabled-txt-color: rgb(152, 152, 152);
  --add-tip-button-disabled: rgb(24, 24, 34);
  
  --input-color:#151921;

   /* input-color-alt: rgb(191, 209, 208); rgb(74, 85, 187) #202020; rgba(53, 60, 110, 0.459); rgb(134, 110, 114); var(--input-autofill-color);*/
 
   
   
   
    


  --input-border-color: rgba(134, 110, 114, 0.425);
  --input-box-shadow-color: #7daee2;

 
 --free-shipping-slider-empty-color: rgb(107, 101, 101);

 --free-shipping-slider-fill-color: brown;


 --contact-input-color: #0c212b;


 --rating-info-bg: rgb(17, 20, 16);
 --rating-info-percent-bar-empty:rgb(30, 51, 59);
 --rating-info-percent-bar-fill: rgb(116, 145, 147);

 --write-review-main-bg: #1b191a;
 --writing-accent-color: gray;
 --writing-empty-progress-bar: rgb(55, 55, 62);
 --writing-media-button:  rgb(149, 165, 170);
 --writing-next-button-bg: rgb(112, 128, 118);
 --writing-next-button-hover-bg: #364658;
 --writing-next-button-disabled-txt-color: rgb(15, 16, 26);

 --mini-slider-arrow-bg:rgb(19, 23, 57);
 --quantity-input-bg: #172247;
 --quantity-button-border: rgb(80, 77, 90);
 --quantity-button-hover: rgb(20, 22, 41);

 --collection-info-bg: rgb(18, 25, 39);


 --fullscreen-nav-bg: rgba(45, 95, 145, 0.604);
 --fullscreen-arrow-bg:rgba(27, 60, 73, 0.501);
 --fullscreen-arrow-hover-bg:rgba(48, 62, 68, 0.501);
 --fullscreen-arrow-active-bg: rgba(113, 154, 170, 0.526);

 --dropcard-title-color: rgb(116, 44, 44);


 color-scheme: light only;


/* Utility colors */


--star-color:#97892F;
--star-empty-color: #103939;
--star-hover-color: orange;
--star-home-review-color: #FFCA28;

--product-on-sale-bg: rgb(18, 14, 56);

--toast-message-bg: #323232;
--more-cards-card-bg: rgb(195, 229, 251);  

--arrow-bg: rgb(44, 95, 93);

 --input-autofill-color: #1c2025;
 
 --floating-badge-color: gray;
 --badge-popup-message-bg: rgba(127, 127, 163, 0.9);

 --email-popup-bg: rgb(22, 42, 60);

--email-popup-light-color: white;
--email-popup-cancel-button-bg: rgb(28, 49, 50);

--paypal-bg:#FFC439;

  /*~Admin sector colors*/

  --package-status-button-bg: rgb(20, 50, 48);

  --order-cover-details-color: rgb(10, 12, 19);

  --email-input-bg: rgb(15, 15, 14);

  --campaign-display-emails-bg:rgba(43, 35, 35, 0.145);

  --admin-campaign-type-options-bg: rgb(76, 46, 46);

}

