@import "./colors.css";

body{
    min-width: 100vw;
    min-height: 100vh;
   display: flex; 
   flex-direction: column; 
    background-color: transparent;
    overflow-x: hidden;
    color:var(--yellow-white);
    
}




  ::-webkit-scrollbar {
    width: 10px;
    background-color: #1a1a1a;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #1a1a1a;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #606060;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
  }