

.imgController{
    position: relative;
    height: 160px;
    width: auto;
    cursor: pointer;
}

.reviewImage{
   height:100%;
   width: auto;
   border: 2px solid rgb(74, 228, 125);
   box-shadow: 0 0 8px #4fabe0;
}


.deletedImage{
    
    border: 2px solid red;
    box-shadow: 0 0 6px #5e550a;
}



.imageChanged{
    cursor: auto;
}