

.imgController{
    position: relative;
    height: 160px;
    width: auto;
}

.reviewImage{
   height:100%;
   width: auto;
}


.deletedImage{
    
    border: 2px solid red;
    box-shadow: 0 0 6px #5e550a;
}

.unDeletedImage{
    border: 2px solid rgb(74, 228, 125);
    box-shadow: 0 0 8px #4fabe0;
}