
.paymentTitle{
    opacity: 0.9;
    font-weight: 400;
    font-size: var(--font-size-6);
    margin-bottom: 0;
  }

  .paymentNotification{
    opacity: 0.5;
    font-size: 14px;
    margin-top: var(--size-1);
    margin-bottom:  var(--size-5);
  }


.mainWrapper{
   position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
    border-radius: 4px;
    
}


.mainWrapper > :first-child{
    border-top-left-radius: var(--size-3);
    border-top-right-radius: var(--size-3);
}



.innerBorder {
    width: calc(100% - var(--size-1));
    height: calc(100% - var(--size-1));
    box-sizing: border-box;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 8px;
    outline: 1px solid var(--border-color-mid); /* Inner border color and width */
    pointer-events: none;
    z-index: 2;
  }

  .paymentContent{
    z-index: 2;
  }


.paymentOptionDiv{
    height: var(--size-9);
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
    padding: var(--size-3);
    cursor: pointer;
    user-select: none;
    
}

.optionBorderTop{
    border-top: 1px solid var(--border-color-mid);
}

.selectedOption{
    box-sizing: border-box;
    border: 1px solid var(--blue-4);
    z-index: 3;
}

.pickOption{
    width: max-content;
    display: flex;
}

.pickCheck{
    height: var(--size-5);
    width: var(--size-5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--select-payment-circle-color);
    border-radius: 100%;
    margin: 0 var(--size-3);
}

.pickCheckSelected{
    background-color: var(--select-payment-circle-ring-color);
}

.ringEffectDiv{
    height: var(--size-3);
    width: var(--size-3);
    background-color: var(--gray-9-elegant);
    border-radius: 100%;
}

.optionSpan{
    white-space: nowrap;
}

.CCSolutions{
    width: max-content;
   
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex: 1;
   
   
}

.CCWrapper{
        height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-left: var(--size-3);
    margin-right: 3px !important;
}



.creditCardLogo{
    margin-left: var(--size-1);
    margin-right:  var(--size-1);
    border-radius: 2px;
    overflow: hidden;
}

.moreCards{
    position: relative;
    color: var(--blue-8);
    background-color: var(--more-cards-card-bg);  
    height: 26px;
    width: 46px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: var(--size-1);
    margin-right: var(--size-1);
    border: 1px solid var(--more-cards-card-border);
    border-radius: 3px;
    font-size: var(--font-size-1);
    font-weight: 600;
    justify-self: flex-start;
    z-index: 15;
}

/* bg-alt: rgb(179, 220, 245);   */


.moreCardsPopupWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    position:absolute;
    bottom: calc(100% + var(--size-1));
    right: -64px;
    transform: scale(0.6) translateY(4px);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    transform-origin: bottom center;

    user-select: none;
    pointer-events: none;

}

.moreCardsPopupOpen{
    transform: scale(1) translateY(0px);
    opacity: 1;
}


.moreCardsPopup{
   
    height: var(--size-7);
    display: flex;
    
    background-color: var(--badge-popup-message-bg);
    color: black;
    padding: var(--size-3);
    border-radius: 4px;
    text-align: center;
    font-size: var(--font-size-2);
    line-height: 20px;
   

}

.moreCardsPopupTriangle{
   
  
    width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: var(--size-3) solid var(--badge-popup-message-bg);
 
}

.paypalLogo{
    margin-right: var(--size-3);
}


.paymentFields{
    background-color: var(--payment-div-bg);
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    transition: max-height 0.6s ease;
    overflow: hidden;
}

.creditCardField{
    max-height: max-content;
}

.paypalField{
    border-bottom-left-radius: var(--size-3);
    border-bottom-right-radius: var(--size-3);
}




.paymentFieldsSpaceAdjuster{
   
    width: calc(100% - var(--size-7));
    margin:  var(--size-4) 0;
}

.paypalFieldWrapper{
    margin: var(--size-5) var(--size-3);
}

@media(max-width: 980px){
    
.creditCardLogo{
    width: 40px;
}

.moreCards{
    height: 22px;
    width: 38px;
    margin-right: var(--size-1);
}

.moreCardsPopupWrapper{
    align-items: flex-end;
    right: -28px;
    bottom: calc(100% + var(--size-1));
    transform-origin: bottom right;
    transform: scale(0.6) translateY(4px) translateX(-28px);
   
}




.moreCardsPopupOpen{
    transform: scale(1)  translateY(0);
    margin-right: 0;
}

.moreCardsPopupTriangle{
    transform:  translateX(-40px);
}


.paymentFieldsSpaceAdjuster{
   
    margin:  var(--size-1) 0;
}

.paypalFieldWrapper{
    margin: var(--size-5) 0;
}
}