.emailsListDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: space-between;
    border-top: 1px solid gray;
}

.emailsListDiv > :last-child{
    margin-bottom: 0;
}

.emailDiv{

    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--size-3);
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    padding: var(--size-3);
}


.emailInfoDiv{
    

display: flex;
align-items: center;
  
}



.datePicker{
    background-color: black !important;
 
}

.dateRangeLabel{
    margin-left: var(--size-1);
    font-size: var(--font-size-3);
    font-weight: 500;
}

.dateInput{
    color:white ;
    background-color: black ;
    padding: var(--size-2);
    margin: var(--size-3) 0;
    border: 1px solid gray;
}


.addEmailButton{

}