.cartPopup{

 
   
   
    position:absolute;
    top: 100%;
    right: var(--size-7);

    background-color: var(--gray-9-elegant);


    /* max-height: 0; */
    width:var(--size-14);
    height: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
   
   
   
    box-sizing: border-box;
    padding: 0 var(--size-7);
    border: 1px solid rgb(39, 35, 44);
  
    transition: height 0.5s 0s ease;
  

    /* animation: materializePopup 0.5s 0.18s ease forwards; */

    user-select: none;
    overflow: hidden;
  }



  .firstPopupTitle{
    margin-top:  var(--size-5);
  }
 

  .cartPopupTitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   
    margin-bottom: var(--size-3);

    
  }
  
  .smallCorrect{
   
    margin-right: var(--size-3);
  }

  .productImage{
   
    margin-right: var(--size-3);
  }

  .productTitleDiv{
    display: flex;
    flex-direction: column;
    
    align-self: flex-start;
  }

  .productTitle{

   
    font-size: var(--font-size-5);
    margin:0;
    margin-top: calc(-1 * var(--size-1));
  }

  .productVariant{
    opacity: 0.7;
    font-size: var(--font-size-3);
    font-weight: 300;
    margin-left: var(--size-1);
  }



  .add_to_cart_button {
    flex-shrink: 0;
    max-width: var(--size-15);
    height: var(--size-8);
    width:100%;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    
    margin-top: var(--size-7);
    margin-bottom: var(--size-3);
    background-color: var(--main-button-color);
    color:  var(--high-contrast-light-txt-color);
    font-size: var(--size-5);
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;


  }


  .buyNowButton{
    flex-shrink: 0;

    color:  var(--high-contrast-light-txt-color);
    background-color: transparent;
    height: var(--size-8) !important;
    max-width: var(--size-15);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: var(--size-2);
    margin-bottom: var(--size-4);
    box-sizing: border-box;
    
   
   
    border: 1px solid rgb(159, 160, 92);
    border-radius: 4px;
    font-size: var(--font-size-3);
    font-weight: 700px;
    text-decoration: none;
    cursor: pointer;
    
  }

  .continue_shopping{
    flex-shrink: 0;
    color: var(--light-txt-color);
   
   

    margin: var(--size-2) auto;
    margin-bottom: var(--size-6);
   justify-self: center;
    cursor: pointer;
  }


  @media (max-width: 600px){
    .cartPopup{
        height: 0;
        
        right: 0;
        width: 100%;
       box-sizing: border-box;

       border-top: 1px solid rgb(39, 35, 44);
       border-left: none;
       border-right: none;
 
       /* animation: materializePopup 0.6s 0.18s ease forwards; */

     
    }

   

  

  }

/* @keyframes materializePopup {
  0%{
    max-height: 0;
  }
  100%{
    max-height:  var(--size-14);
  }
} */